force-app/main/default/flows/Application_Journey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Evaluate_Application_Phase_and_Status</name>
        <label>Evaluate Application Phase and Status</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Review_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Total_Balance__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_to_Substantive_Review_Pending</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Review Completed</label>
        </rules>
        <rules>
            <name>CO_CFO_File_Uploaded</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 8 ) OR (5 AND 6 AND 7 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CVRD_DS_CO_CFO_File_Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CVRD_DS_CO_CFO_File_Uploaded__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CVRD_DS_Completed_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Board Approval - CO/CFO Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_to_Hearing_Pending</targetReference>
            </connector>
            <label>Board App -CO/CFO File Uploaded?</label>
        </rules>
        <rules>
            <name>GM_Approved_Application_Approved</name>
            <conditionLogic>1 AND ((2 AND 3 AND 4 ) OR (5 AND 6 AND 7 ))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Total_Balance__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_to_Issuance_Pending</targetReference>
            </connector>
            <label>Approval Completed</label>
        </rules>
        <rules>
            <name>Hearing_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hearing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Total_Balance__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_to_Closed_Completed</targetReference>
            </connector>
            <label>GM Approved - Application Approved</label>
        </rules>
        <rules>
            <name>GM_Approved_Application_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CVRD_DS_Review_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Denied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CVRD_DS_Completed_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Manager - GM Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Phase_to_CloseOut</targetReference>
            </connector>
            <label>GM Approved - Application Denied</label>
        </rules>
        <rules>
            <name>CO_CFO_Approved_General_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appeal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CVRD_DS_Completed_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Manager - GM Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CVRD_DS_CO_CFO_File_Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CVRD_DS_CO_CFO_File_Uploaded__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_Phase_to_Hearing</targetReference>
            </connector>
            <label>CO/CFO Approved - General Manager</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Expiration_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!Issued_Date}) + 1,  MONTH({!Issued_Date}),  DAY({!Issued_Date}))</expression>
    </formulas>
    <formulas>
        <description>Calculates the current &quot;Total Balance&quot; for the License record being created/updated.</description>
        <name>License_Total_Balance</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!$Record.MUSW__Total_Fees__c},0) - BLANKVALUE({!$Record.MUSW__Total_Payments__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Next_Year_Expiration_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!Issued_Date})+1, 12, 31)</expression>
    </formulas>
    <interviewLabel>Application Journey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Journey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Application_to_Closed_Completed</name>
        <label>Set Application to Closed Completed</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Appeal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Application_to_Issuance_Pending</name>
        <label>Set Application to Issuance Pending</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Hearing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Application_to_Substantive_Review_Pending</name>
        <label>Set Application to Substantive Review Pending</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Application_Phase_and_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>20</triggerOrder>
    <variables>
        <name>Issued_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
