force-app/main/default/flows/Application_Create_Submissions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Initial_Submissions</name>
        <label>Create Initial Submissions</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>MUSW__CreateInitialSubmissionsAction</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__relatedRecord</typeName>
            <typeValue>MUSW__Application2__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>relatedRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MUSW__CreateInitialSubmissionsAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Submission_Custom</name>
        <label>Create Submission Custom</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>CVRD_DS_CreateSubmissions</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CVRD_DS_CreateSubmissions</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Development_Permit_Applications</name>
        <label>Evaluate Development Permit Applications</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Create_Initial_Submissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Development_permit_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Development_Permit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Submission_Custom</targetReference>
            </connector>
            <label>Development permit exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NextDPAType</name>
        <dataType>String</dataType>
        <expression>LEFT({!SelectedDPATypes}, FIND({!SelectedDPATypes}, &quot;;&quot;)-1)</expression>
    </formulas>
    <formulas>
        <name>trimSelectedDPATypes</name>
        <dataType>String</dataType>
        <expression>RIGHT({!SelectedDPATypes}, LEN({!SelectedDPATypes})-FIND({!SelectedDPATypes},&quot;;&quot;))</expression>
    </formulas>
    <interviewLabel>Application - Create Submissions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application - Create Submissions</label>
    <overriddenFlow>clariti__Application_Create_Submissions</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Development_Permit_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>80</triggerOrder>
    <variables>
        <name>applicableSubmissions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentDPAType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_filter_DPA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Master_Submission_List__c</objectType>
    </variables>
    <variables>
        <name>matchingSubmission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
    <variables>
        <name>MatchingSubmissionTemplates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Master_Submission_List__c</objectType>
    </variables>
    <variables>
        <name>method_calling</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>action</stringValue>
        </value>
    </variables>
    <variables>
        <name>SelectedDPATypes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SplitSelectedDPATypes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubmissionTemplates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Master_Submission_List__c</objectType>
    </variables>
</Flow>
