force-app/main/default/flows/CVRD_DS_Create_Application_Location_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AddressCount</name>
        <label>AddressCount</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>countofAddress</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkAddressCount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Logged_User_License</name>
        <label>Check Logged User</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Community</defaultConnectorLabel>
        <rules>
            <name>Internal_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Application_Location_Record</targetReference>
            </connector>
            <label>Internal License</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkAddressCount</name>
        <label>checkAddressCount</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_Logged_User_License</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SingleAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countofAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddressLoop</targetReference>
            </connector>
            <label>SingleAddress</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CVRD DS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CVRD DS Create Application Location Record</label>
    <loops>
        <name>AddressLoop</name>
        <label>AddressLoop</label>
        <locationX>74</locationX>
        <locationY>647</locationY>
        <collectionReference>getAddress</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>updateApplication</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Logged_User_License</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application_Location_Record</name>
        <label>Create Application Location Record</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>MUSW__Address__c</field>
            <value>
                <elementReference>$Record.MUSW__Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Parcel__c</field>
            <value>
                <elementReference>$Record.MUSW__Parcel__c</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Application_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getAddress</name>
        <label>getAddress</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddressCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Parcel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Parcel__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MUSW__Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateApplication</name>
        <label>updateApplication</label>
        <locationX>162</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>AddressLoop</targetReference>
        </connector>
        <inputAssignments>
            <field>MUSW__Address__c</field>
            <value>
                <elementReference>AddressLoop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Geolocation__Latitude__s</field>
            <value>
                <elementReference>AddressLoop.MUSW__Geolocation__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Geolocation__Longitude__s</field>
            <value>
                <elementReference>AddressLoop.MUSW__Geolocation__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Subdivision_Referral</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crown_Land_Referrals</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural_Land_Reserve</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Parcel__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Board_of_Variance</stringValue>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AddressOnes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Address__c</objectType>
    </variables>
    <variables>
        <name>countofAddress</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
