force-app/main/default/flows/CVRD_DS_Application_Reconsideration_Letter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Application_Reconsideration_Email_Alert_to_Planner_Action_1</name>
        <label>Application - Reconsideration Email Alert to Planner Action 1</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>MUSW__Application2__c.Application_Reconsideration_Email_Alert_to_Planner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MUSW__Application2__c.Application_Reconsideration_Email_Alert_to_Planner</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_File_Count</name>
        <label>Assign File Count</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>FileCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DocumentIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Files_are_Uploaded</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Files_are_Uploaded</name>
        <label>Check Files are Uploaded</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>File_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FileCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.MUSW__Type2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Liquor Licence Referrals</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.CVRD_DS_Sub_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Liquor Licence Referral (delegated)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_Record</targetReference>
            </connector>
            <label>File Uploaded</label>
        </rules>
        <rules>
            <name>Internal_Application_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liquor Licence Referrals</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.CVRD_DS_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liquor Licence Referral (delegated)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FileCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Application_Record</targetReference>
            </connector>
            <label>Internal Application Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Planner_Exist</name>
        <label>Check Planner Exist</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Planner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.CVRD_DS_Planner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Reconsideration_Email_Alert_to_Planner_Action_1</targetReference>
            </connector>
            <label>Planner</label>
        </rules>
    </decisions>
    <decisions>
        <name>CloseOut_Rejected</name>
        <label>CloseOut Rejected</label>
        <locationX>809</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close Out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Screen</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CVRD DS {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CVRD DS Application - Reconsideration Letter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Application_Record</name>
        <label>Copy 1 of Update Application Record</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CVRD_DS_Review_Outcome__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Appeal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_Record</name>
        <label>Update Application Record</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Check_Planner_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CVRD_DS_Review_Outcome__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Appeal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(192, 15, 15);&quot;&gt;Please Upload the File.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen2</name>
        <label>ErrorScreen</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDisplay2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(189, 42, 42); font-size: 14px;&quot;&gt;A letter of reconsideration can only be uploaded in the event that your application is denied.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SUccessScreen</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(48, 150, 35);&quot;&gt;You  have successfully uploaded the Files!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Screen</name>
        <label>Upload Screen</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_File_Count</targetReference>
        </connector>
        <fields>
            <name>UploadFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attach File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>DocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>NoteMessage</name>
            <fieldText>&lt;p&gt;&lt;em&gt;Note: Maximum file size is 10 MB. Allowed file types are PDF, DOC, XLS, DOCX, XLSX, JPG, PNG.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.MUSW__Type2__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Liquor Licence Referrals</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CloseOut_Rejected</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
</Flow>
