force-app/main/default/flows/CVRD_DS_AccountId_Update_from_Applicant_s_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Application_creation_check</name>
        <label>Application creation check</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_application_Check</name>
            <conditionLogic>((1 OR 2 OR 3 OR 4) AND 5 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agricultural_Land_Reserve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subdivision_Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crown_Land_Referrals</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liquor Licence Referrals</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CVRD_DS_Planner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Owner_with_Planner</targetReference>
            </connector>
            <label>Internal application Check</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CVRD DS AccountId Update from Applicant&apos;s acco {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CVRD DS AccountId Update from Applicant&apos;s Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Applicants_account_id_on_Application</name>
        <label>Update Applicants account id on Application</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Application_creation_check</targetReference>
        </connector>
        <inputAssignments>
            <field>MUSW__Account__c</field>
            <value>
                <elementReference>$Record.MUSW__Applicant__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Owner_with_Planner</name>
        <label>update Owner with Planner</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CVRD_DS_Planner__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Applicants_account_id_on_Application</targetReference>
        </connector>
        <object>MUSW__Application2__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
