force-app/main/default/flows/CVRD_DS_Application_Journey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Agent_in_Application_Contact_collation</name>
        <label>Add Agent in Application Contact collation</label>
        <locationX>688</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ApplicationContactAgent.MUSW__First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationContactAgent.MUSW__Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationContactAgent.MUSW__Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationContactAgent.MUSW__Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationContactAgent.CVRD_DS_Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationContactAgent.CVRD_DS_Owner_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationContactAgent.CVRD_DS_Owner_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationContactAgent.CVRD_DS_Owner_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationContactAgent.CVRD_DS_Owner_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationContactAgent.CVRD_DS_Owner_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationContactAgent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Application_Type_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_New_Contact_in_the_Application_contact_list</name>
        <label>Add New Contact in the Application contact list</label>
        <locationX>182</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>AddNewApplicationContactRecord.MUSW__First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_NameAddOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddNewApplicationContactRecord.MUSW__Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_NameAddOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddNewApplicationContactRecord.MUSW__Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailAddOwner.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddNewApplicationContactRecord.MUSW__Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneAddOwner.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddNewApplicationContactRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clearing_address_details_from_add_owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_application_Id_on_application_contact</name>
        <label>assign application Id on application contact</label>
        <locationX>930</locationX>
        <locationY>4046</locationY>
        <assignmentItems>
            <assignToReference>Create_Application_Contact_record.MUSW__Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Application_record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationContactCreateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Application_Contact_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Application_Contact_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_application_id_on_application_location</name>
        <label>assign application id on application location</label>
        <locationX>930</locationX>
        <locationY>4310</locationY>
        <assignmentItems>
            <assignToReference>loop_to_create_application_location.MUSW__Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Application_record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createApplicationLocationRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_to_create_application_location</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_to_create_application_location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Application_Record_Id_to_Comment_Record</name>
        <label>Assign Application Record Id to Comment Record</label>
        <locationX>666</locationX>
        <locationY>3770</locationY>
        <assignmentItems>
            <assignToReference>Loop_for_Comment_Records.CVRD_DS_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Application_record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_for_Comment_Records.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Comment_Records.CVRD_DS_DPA_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollationCommentRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_Comment_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Comment_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Iteration_Count</name>
        <label>Assign Iteration Count</label>
        <locationX>842</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>IsFirstLocationRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Application_Location_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_Record_to_application</name>
        <label>Assign Location Record to application</label>
        <locationX>930</locationX>
        <locationY>3554</locationY>
        <assignmentItems>
            <assignToReference>LocationPID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Application_Location_Record.MUSW__Parcel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocationAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Application_Location_Record.MUSW__Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsFirstLocationRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Application_Location_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_parcel_DPAs_to_Application_Selected_DPA</name>
        <label>Assign parcel DPAs to Application Selected DPA</label>
        <locationX>776</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>selectedDPAVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_PID_records.CVRD_DS_DPA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedDPAVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_PID_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_owner_mailing_address_to_new_owner</name>
        <label>Assign Primary owner mailing address to new owner</label>
        <locationX>50</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>AddNewApplicationContactRecord.CVRD_DS_Owner_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Contact_Record.CVRD_DS_Owner_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddNewApplicationContactRecord.CVRD_DS_Owner_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Contact_Record.CVRD_DS_Owner_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddNewApplicationContactRecord.CVRD_DS_Owner_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Contact_Record.CVRD_DS_Owner_Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddNewApplicationContactRecord.CVRD_DS_Owner_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Contact_Record.CVRD_DS_Owner_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddNewApplicationContactRecord.CVRD_DS_Owner_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Contact_Record.CVRD_DS_Owner_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Contact_in_the_Application_contact_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clearing_address_details_from_add_owner</name>
        <label>Clearing address details from add owner</label>
        <locationX>182</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>AddNewApplicationContactRecord.CVRD_DS_Owner_City__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddNewApplicationContactRecord.CVRD_DS_Owner_Country__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddNewApplicationContactRecord.CVRD_DS_Owner_State__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddNewApplicationContactRecord.CVRD_DS_Owner_Street__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddNewApplicationContactRecord.CVRD_DS_Owner_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_Primary_Owner_check_on_Application_Contact_Record</name>
        <label>Copy 1 of Update Primary Owner check on Application Contact Record</label>
        <locationX>1590</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>Application_Contact_Record.CVRD_DS_Primary_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application_Contact_Record.MUSW__First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application_Contact_Record.MUSW__Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application_Contact_Record.MUSW__Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application_Contact_Record.MUSW__Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application_Contact_Record.CVRD_DS_Owner_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application_Contact_Record.CVRD_DS_Owner_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application_Contact_Record.CVRD_DS_Owner_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application_Contact_Record.CVRD_DS_Owner_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Application_Contact_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Environment_Management_Act</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DPA_Stages_assignment</name>
        <label>DPA Stages assignment</label>
        <locationX>688</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Agent Authorization / Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Application Type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Description</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Property Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Development Permit Areas</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Owner Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Environmental Management Act</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Riparian Areas Protection Regulation Declaration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Owner/Agent Declaration</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Description_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Equate_stages</name>
        <label>Equate stages</label>
        <locationX>952</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InitialStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Description_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stages_assignment</name>
        <label>Stages assignment</label>
        <locationX>820</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>InitialStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Agent Authorization / Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Application Type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Description</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Property Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Owner Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Environmental Management Act</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Riparian Areas Protection Regulation Declaration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Owner/Agent Declaration</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agent_Authorization_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Primary_Owner_check_on_Application_Contact_Record</name>
        <label>Update Primary Owner check on Application Contact Record</label>
        <locationX>1458</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>Application_Contact_Record.CVRD_DS_Primary_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application_Contact_Record.MUSW__First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application_Contact_Record.MUSW__Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application_Contact_Record.MUSW__Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application_Contact_Record.MUSW__Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Application_Contact_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Environment_Management_Act</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AgentNo</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>AgentYes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>EnvironmentalActSchedule1False</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>EnvironmentalActSchedule1True</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>EnvironmentalActSchedule2False</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>EnvironmentalActSchedule2True</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>RiparianAreasSchedule1False</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>RiparianAreasSchedule1True</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>RiparianAreasSchedule2False</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>RiparianAreasSchedule2True</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Development_Permit_Stage</name>
        <label>Check Development Permit Stage</label>
        <locationX>820</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Equate_stages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DPA_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Development Permit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DPA_Stages_assignment</targetReference>
            </connector>
            <label>DPA Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_mailing_address_is_same_or_not</name>
        <label>Check for mailing address is same or not</label>
        <locationX>182</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Add_New_Contact_in_the_Application_contact_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mailing Address is not Same</defaultConnectorLabel>
        <rules>
            <name>Mailing_Address_is_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Mailing_address_is_not_same</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Primary_owner_mailing_address_to_new_owner</targetReference>
            </connector>
            <label>Mailing Address is Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Comment_is_empty_or_not</name>
        <label>Check if Comment is empty or not</label>
        <locationX>842</locationX>
        <locationY>3554</locationY>
        <defaultConnector>
            <targetReference>loop_to_create_application_location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Comment_is_not_empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CommentRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_for_Comment_Records</targetReference>
            </connector>
            <label>Comment is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Iteration_Count</name>
        <label>Check Iteration Count</label>
        <locationX>1062</locationX>
        <locationY>3446</locationY>
        <defaultConnector>
            <targetReference>Loop_Application_Location_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_Equal_to_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsFirstLocationRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Location_Record_to_application</targetReference>
            </connector>
            <label>Count Equal to 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_Agent</name>
        <label>Copy 1 of Is Agent</label>
        <locationX>1458</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Primary_Owner_check_on_Application_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agent_is_Available</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Primary_Owner_check_on_Application_Contact_Record</targetReference>
            </connector>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Add_Owner</name>
        <label>Evaluate Add Owner</label>
        <locationX>820</locationX>
        <locationY>2282</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Is_Agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddOwnerButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Another Owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Owner_Screen</targetReference>
            </connector>
            <label>Add Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_agent_checkbox</name>
        <label>Evaluate agent checkbox</label>
        <locationX>820</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Application_Type_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agent_is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_am_an_agent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Agent_in_Application_Contact_collation</targetReference>
            </connector>
            <label>Agent is Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Application_Type</name>
        <label>Evaluate Application Type</label>
        <locationX>820</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Is_Agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Application_Type_is_Development_permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Development Permit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PID_Record</targetReference>
            </connector>
            <label>Application Type is Development permit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Agent</name>
        <label>Is Agent</label>
        <locationX>820</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Owner_Details_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agent_is_Available</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Details_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rec_check</name>
        <label>Rec check</label>
        <locationX>1458</locationX>
        <locationY>2930</locationY>
        <defaultConnectorLabel>Do Not save Record</defaultConnectorLabel>
        <rules>
            <name>save_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.CVRD_DS_Application_Journey_flow_record_creation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Iteration_Count</targetReference>
            </connector>
            <label>save record</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Application_Type_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Type2__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ApplicationContactCountryList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Mailing_Address__CountryCode__s</picklistField>
        <picklistObject>MUSW__Application_Contact__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EnvironmentalPicklistSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CVRD_DSCommercialOrIndustrial_Purposes__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProvinceChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CVRD_DS_Owner_State__c</picklistField>
        <picklistObject>MUSW__Application_Contact__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordTypesList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MUSW__Application2__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeValue</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DescriptionCharCount</name>
        <dataType>Number</dataType>
        <expression>LEN({!Description})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SetEnvironmentalValue</name>
        <dataType>String</dataType>
        <expression>IF({!EnvironmentalActConditionV1}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <interviewLabel>CVRD_DS_Application_Journey {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CVRD DS Application Journey</label>
    <loops>
        <name>Create_Application_Contact_record</name>
        <label>Create Application Contact record</label>
        <locationX>842</locationX>
        <locationY>3146</locationY>
        <collectionReference>ApplicationContactList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_application_Id_on_application_contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Application_Contact_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Application_Location_Record</name>
        <label>Loop Application Location Record</label>
        <locationX>842</locationX>
        <locationY>3338</locationY>
        <collectionReference>Application_Location_Record_Collation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Iteration_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Application_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_for_Comment_Records</name>
        <label>Loop for Comment Records</label>
        <locationX>578</locationX>
        <locationY>3662</locationY>
        <collectionReference>CommentRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Application_Record_Id_to_Comment_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Comment_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_PID_records</name>
        <label>Loop on PID records</label>
        <locationX>688</locationX>
        <locationY>1490</locationY>
        <collectionReference>Get_PID_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_parcel_DPAs_to_Application_Selected_DPA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DPA_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_to_create_application_location</name>
        <label>loop to create application location</label>
        <locationX>842</locationX>
        <locationY>4202</locationY>
        <collectionReference>Application_Location_Record_Collation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_application_id_on_application_location</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_application_location_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Application_Contact_records</name>
        <label>Create Application Contact records</label>
        <locationX>842</locationX>
        <locationY>3446</locationY>
        <connector>
            <targetReference>Check_if_Comment_is_empty_or_not</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>ApplicationContactCreateList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_application_location_record</name>
        <label>create application location record</label>
        <locationX>842</locationX>
        <locationY>4502</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>createApplicationLocationRecords</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Application_record</name>
        <label>Create Application record</label>
        <locationX>842</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>Create_Application_Contact_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Agent_Authorization__c</field>
            <value>
                <elementReference>I_am_an_agent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CVRD_DSCommercialOrIndustrial_Purposes__c</field>
            <value>
                <elementReference>SetEnvironmentalValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CVRD_DS_Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CVRD_DS_HighWaterMark__c</field>
            <value>
                <elementReference>RiparianAreasConditionV11</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CVRD_DS_Non_Exempted_DPAs__c</field>
            <value>
                <elementReference>NonExemptedDPA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CVRD_DS_Selected_DPAs__c</field>
            <value>
                <elementReference>selectedDPAVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CVRD_DS_SiteDisclosureStatement__c</field>
            <value>
                <elementReference>EnvironmentalActConditionV22</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CVRD_DS_is_TopofaRavine_Bank__c</field>
            <value>
                <elementReference>RiparianAreasConditionV22</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Address__c</field>
            <value>
                <elementReference>LocationAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Applicant__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Parcel__c</field>
            <value>
                <elementReference>LocationPID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>system number</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Comment_Record</name>
        <label>Create Comment Record</label>
        <locationX>578</locationX>
        <locationY>3962</locationY>
        <connector>
            <targetReference>loop_to_create_application_location</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>CollationCommentRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_PID_Record</name>
        <label>Get PID Record</label>
        <locationX>688</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_PID_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>parcelIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MUSW__Parcel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Add_Owner_Screen</name>
        <label>Add New Owner Screen</label>
        <locationX>182</locationX>
        <locationY>2390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_mailing_address_is_same_or_not</targetReference>
        </connector>
        <fields>
            <name>header_6</name>
            <extensionName>c:cVRD_DS_Dev_App_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OwnerInfo2_stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Owner Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SpaceSectionV2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_New_Owner</name>
            <fieldText>Add New Owner</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Owner_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_NameAddOwner</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_NameAddOwner</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EmailAddOwner</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>PhoneAddOwner</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Owner_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mailing_address_is_not_same</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Mailing address is different</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Display_Owner_Address</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Mailing Address:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Application_Contact_Record.CVRD_DS_Owner_Street__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;City:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Application_Contact_Record.CVRD_DS_Owner_City__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Province: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Application_Contact_Record.CVRD_DS_Owner_State__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Postal Code:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Application_Contact_Record.CVRD_DS_Owner_Postal_Code__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Mailing_address_is_not_same</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AddNewApplicationContactRecord.CVRD_DS_Owner_Street__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Mailing_address_is_not_same</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AddNewApplicationContactRecord.CVRD_DS_Owner_City__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Mailing_address_is_not_same</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AddNewApplicationContactRecord.CVRD_DS_Owner_State__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Mailing_address_is_not_same</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AddNewApplicationContactRecord.CVRD_DS_Owner_Postal_Code__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Mailing_address_is_not_same</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <pauseButtonLabel>Pause Application</pauseButtonLabel>
        <pausedText>&lt;p&gt;Application has been pause. &lt;a href=&quot;https://cvrd--dev1.sandbox.my.site.com/CVRDCitizenshipPortal/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here.&lt;/a&gt;&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Agent_Authorization_Screen</name>
        <label>Agent Authorization Screen</label>
        <locationX>820</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Evaluate_agent_checkbox</targetReference>
        </connector>
        <fields>
            <name>AgentAuthHeader</name>
            <extensionName>c:cVRD_DS_Dev_App_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentAuthStage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>InitialStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Agent Authorization / Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Agent_Authorization_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Agent_Authorization_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Agent_Authorization_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Agent_Authorization_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>I_am_an_agent</name>
                    <choiceReferences>AgentYes</choiceReferences>
                    <choiceReferences>AgentNo</choiceReferences>
                    <dataType>Boolean</dataType>
                    <fieldText>I am an Agent</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Agent_Authorization_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AgentAuthorizationDescription</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77); background-color: rgb(255, 255, 255);&quot;&gt;Go to  (&lt;/span&gt;&lt;a href=&quot;https://cvrd.ca/70/Planning-Development&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Planning &amp;amp; Development | Cowichan Valley Regional District&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77); background-color: rgb(255, 255, 255);&quot;&gt;) to download an Agent Authorization form. This signed document must be uploaded at the Upload Documents phase of the application.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>I_am_an_agent</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Application_Type_Screen</name>
        <label>Application_Type_Screen</label>
        <locationX>820</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Development_Permit_Stage</targetReference>
        </connector>
        <fields>
            <name>Application_Type_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Application_Type_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>header1</name>
                    <extensionName>c:cVRD_DS_Dev_App_header</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ApplicationType_Stage</name>
                    <extensionName>clariti:FlowStages</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stages</name>
                        <value>
                            <elementReference>InitialStage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStage</name>
                        <value>
                            <stringValue>Application Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Application_Type_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Application_Type_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Record_Types</name>
                    <choiceReferences>RecordTypesList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Application Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <pauseButtonLabel>Pause Application</pauseButtonLabel>
        <pausedText>&lt;p&gt;Application has been paused. &lt;a href=&quot;https://cvrd--dev1.sandbox.my.site.com/CVRDCitizenshipPortal/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here.&lt;/a&gt;&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Owner_Details_Screen</name>
        <label>Copy 1 of Owner Details Screen</label>
        <locationX>952</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Evaluate_Add_Owner</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_header_5</name>
            <extensionName>c:cVRD_DS_Dev_App_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Owner_Info_stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Owner Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Owner_Details_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Owner_Details_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Owner_Information</name>
            <fieldText>Owner Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Owner_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name1</name>
                    <extensionName>c:readOnlyFieldsForApplicationJourney</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldType</name>
                        <value>
                            <stringValue>text</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>First Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>$User.FirstName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Last_Name1</name>
                    <extensionName>c:readOnlyFieldsForApplicationJourney</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldType</name>
                        <value>
                            <stringValue>text</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Last Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>$User.LastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Email1</name>
                    <extensionName>c:readOnlyFieldsForApplicationJourney</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldType</name>
                        <value>
                            <stringValue>email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>$User.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Phone1</name>
                    <extensionName>c:readOnlyFieldsForApplicationJourney</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldType</name>
                        <value>
                            <stringValue>Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>$User.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Owner_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mailing_Address</name>
                    <defaultValue>
                        <stringValue>{!$User.Street}
{!$User.City}
{!$User.State}
{!$User.CountryCode}</stringValue>
                    </defaultValue>
                    <fieldText>Mailing Address</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.City</elementReference>
                    </defaultValue>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Province</name>
                    <choiceReferences>ProvinceChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.State</elementReference>
                    </defaultValue>
                    <fieldText>Province</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Postal_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.PostalCode</elementReference>
                    </defaultValue>
                    <fieldText>Postal_Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_AddOwnerButton</name>
            <extensionName>clariti:flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <stringValue>no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiselect</name>
                <value>
                    <stringValue>no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Another Owner&quot;,&quot;value&quot;:&quot;Add Another Owner&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:adduser&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <pauseButtonLabel>Pause Application</pauseButtonLabel>
        <pausedText>&lt;p&gt;Application has been pause. &lt;a href=&quot;https://cvrd--dev1.sandbox.my.site.com/CVRDCitizenshipPortal/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here.&lt;/a&gt;&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Description_Screen</name>
        <label>Description Screen</label>
        <locationX>820</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Property_Information</targetReference>
        </connector>
        <fields>
            <name>Description_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Description_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>header_2</name>
                    <extensionName>c:cVRD_DS_Dev_App_header</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Description_Stage</name>
                    <extensionName>clariti:FlowStages</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>currentStage</name>
                        <value>
                            <stringValue>Description</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>stages</name>
                        <value>
                            <elementReference>Stage</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Description_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Description_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description</name>
                    <fieldText>Description (Maximum 500 characters)</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Letter of Rationale and related documents can be provided at the Upload Documents stage of the application&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(241, 6, 6); background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;Maximum 500 characters; additional information can be submitted at the Upload Documents stage.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!DescriptionCharCount}&lt;500</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <pauseButtonLabel>Pause Application</pauseButtonLabel>
        <pausedText>&lt;p&gt;Application has been paused. &lt;a href=&quot;https://cvrd--dev1.sandbox.my.site.com/CVRDCitizenshipPortal/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here.&lt;/a&gt;&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DPA_Screen</name>
        <label>DPA Screen</label>
        <locationX>688</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Agent</targetReference>
        </connector>
        <fields>
            <name>header_4</name>
            <extensionName>c:cVRD_DS_Dev_App_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>flow_stage_DPA</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Development Permit Areas</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DPA_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DPA_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DPA</name>
            <fieldText>Development Permit Area</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DPA_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DPAShow</name>
                    <extensionName>c:cVRD_DS_DPAShowScreen</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>DPA_Data</name>
                        <value>
                            <elementReference>selectedDPAVariable</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>commentDataArray</name>
                        <value>
                            <elementReference>CommentRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>CommentRecords</assignToReference>
                        <name>commentDataArray</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>NonExemptedDPA</assignToReference>
                        <name>nonExemptData</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <pauseButtonLabel>Pause Application</pauseButtonLabel>
        <pausedText>&lt;p&gt;Application has been pause. &lt;a href=&quot;https://cvrd--dev1.sandbox.my.site.com/CVRDCitizenshipPortal/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here.&lt;/a&gt;&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Environment_Management_Act</name>
        <label>Environment Management Act</label>
        <locationX>1458</locationX>
        <locationY>2690</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Riparian_Areas_Protection_Regulation_Declaration</targetReference>
        </connector>
        <fields>
            <name>Cvrd_LogoV1</name>
            <extensionName>c:cVRD_DS_Dev_App_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EnvironmentalStage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Environmental Management Act</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Environment_Management_Act_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Environment_Management_Act_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Environment_Management_ActSection</name>
            <fieldText>Environmental Management Act</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Environment_Management_ActSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Environment_ActDisplayTextV1</name>
                    <fieldText>&lt;p&gt;Pursuant to the&lt;u&gt; &lt;/u&gt;&lt;a href=&quot;https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/03053_00&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;Environmental Management Act,&lt;/u&gt;&lt;/a&gt;&lt;u&gt; &lt;/u&gt;an applicant is required to submit a completed &lt;a href=&quot;https://submit.digital.gov.bc.ca/app/form/submit?f=32a95812-f9db-4fd2-99eb-7e362b0253b1&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;Schedule 1  Site Disclosure Statement&lt;/u&gt;&lt;/a&gt; on properties that are/were used for specified commercial or industrial purposes indicated on &lt;a href=&quot;https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/375_96_04&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;Schedule 2 of the Contaminated Sites Regulations.&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Environment_ActDisplayTextV2</name>
                    <fieldText>&lt;p&gt;To determine if a Schedule 1  Site Disclosure Statement is required, please indicate if:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EnvironmentalActConditionV1</name>
                    <choiceReferences>EnvironmentalActSchedule1True</choiceReferences>
                    <choiceReferences>EnvironmentalActSchedule1False</choiceReferences>
                    <dataType>Boolean</dataType>
                    <fieldText>The site is or has been used for commercial or industrial purposes.</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Environment_ActDisplayTextV3</name>
                    <fieldText>&lt;p&gt;If Yes, refer to Schedule 2 to determine if a Schedule 1  Site Disclosure Statement is required.&lt;/p&gt;&lt;p&gt;Refer to the &lt;a href=&quot;https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/375_96_01#section4&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;Contaminated Sites Regulations,&lt;/u&gt;&lt;/a&gt; Division 3, Part 2 for a list of exemptions.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>EnvironmentalActConditionV1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EnvironmentalActConditionV22</name>
                    <choiceReferences>EnvironmentalPicklistSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>A Site Disclosure Statement is required.</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>EnvironmentalActConditionV1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <pauseButtonLabel>Pause Application</pauseButtonLabel>
        <pausedText>&lt;p&gt;Application has been pause. &lt;a href=&quot;https://cvrd--dev1.sandbox.my.site.com/CVRDCitizenshipPortal/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here.&lt;/a&gt;&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>1810</locationX>
        <locationY>3938</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>header_fault</name>
            <extensionName>c:cVRD_DS_Dev_App_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 3, 3);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Owner_Details_Screen</name>
        <label>Owner Details Screen</label>
        <locationX>688</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Evaluate_Add_Owner</targetReference>
        </connector>
        <fields>
            <name>header_5</name>
            <extensionName>c:cVRD_DS_Dev_App_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Owner_Info_stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Owner Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Owner_Details_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Owner_Details_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Owner_Information</name>
            <fieldText>Owner Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Owner_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>First_Name</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Last_Name</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Email.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Phone.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>^[\d]{10,15}</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Owner_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Application_Contact_Record.CVRD_DS_Owner_Street__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Application_Contact_Record.CVRD_DS_Owner_City__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Application_Contact_Record.CVRD_DS_Owner_State__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Application_Contact_Record.CVRD_DS_Owner_Postal_Code__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>AddOwnerButton</name>
            <extensionName>clariti:flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <stringValue>no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiselect</name>
                <value>
                    <stringValue>no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Another Owner&quot;,&quot;value&quot;:&quot;Add Another Owner&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:adduser&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <pauseButtonLabel>Pause Application</pauseButtonLabel>
        <pausedText>&lt;p&gt;Application has been pause. &lt;a href=&quot;https://cvrd--dev1.sandbox.my.site.com/CVRDCitizenshipPortal/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here.&lt;/a&gt;&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Property_Information</name>
        <label>Property Information</label>
        <locationX>820</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Evaluate_Application_Type</targetReference>
        </connector>
        <fields>
            <name>Header_01</name>
            <extensionName>c:cVRD_DS_Dev_App_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PropertyStage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Property Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Property_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Property_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Property_InformationSection</name>
            <fieldText>Property Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Property_InformationSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>multiplePIDs</name>
                    <extensionName>c:lWCDatatableWithLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>applicationlocationRecs</name>
                        <value>
                            <elementReference>Application_Location_Record_Collation</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Application_Location_Record_Collation</assignToReference>
                        <name>applicationlocationRecs</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>parcelIds</assignToReference>
                        <name>Parcel</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Property_InformationSection_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <pauseButtonLabel>Pause Application</pauseButtonLabel>
        <pausedText>&lt;p&gt;Application has been pause. &lt;a href=&quot;https://cvrd--dev1.sandbox.my.site.com/CVRDCitizenshipPortal/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here.&lt;/a&gt;&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Application_Screen</name>
        <label>Review Application Screen</label>
        <locationX>1458</locationX>
        <locationY>2906</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>attestation_subflow</targetReference>
        </connector>
        <fields>
            <name>Header_final</name>
            <extensionName>c:cVRD_DS_Dev_App_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FloqStageReviewandSubmit</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Review</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Review_Application_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Application_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Application_Details</name>
            <fieldText>Application Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Application_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Application_type_review</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(116, 116, 116);&quot;&gt;Application Type  &lt;/span&gt;&lt;strong style=&quot;color: rgb(116, 116, 116);&quot;&gt;{!RecordTypeValue}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_review</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(116, 116, 116);&quot;&gt;Description&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Description}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Property_Information_review</name>
            <fieldText>Property Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Property_Information_review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>readonlymultiPID</name>
                    <extensionName>c:lWCDatatableWithLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>Readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>applicationlocationRecs</name>
                        <value>
                            <elementReference>Application_Location_Record_Collation</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>DPA_Review</name>
            <fieldText>Development Permit Area</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DPA_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DPA_Exemption_Review</name>
                    <extensionName>c:cVRD_DS_DPAShowScreen</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>commentDataArray</name>
                        <value>
                            <elementReference>CommentRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabledShow</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>DPA_Data</name>
                        <value>
                            <elementReference>selectedDPAVariable</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RecordTypeValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Development Permit</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RecordTypeValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Development Permit</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Owner_Information_Review_section</name>
            <fieldText>Owner Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Owner_Information_Review_section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Owner_information_Review</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>MUSW__Application_Contact__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Owner Information</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>ApplicationContactList</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;MUSW__First_Name__c&quot;,&quot;guid&quot;:&quot;column-e049&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MUSW__Last_Name__c&quot;,&quot;guid&quot;:&quot;column-22bb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CVRD_DS_Primary_Owner__c&quot;,&quot;guid&quot;:&quot;column-f5d6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Primary Owner&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;MUSW__Email__c&quot;,&quot;guid&quot;:&quot;column-0a7b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;MUSW__Phone__c&quot;,&quot;guid&quot;:&quot;column-54c4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;CVRD_DS_Owner_Street__c&quot;,&quot;guid&quot;:&quot;column-1dad&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Mailing Address&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Owner Street&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CVRD_DS_Owner_City__c&quot;,&quot;guid&quot;:&quot;column-4d79&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;City&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:6,&quot;label&quot;:&quot;Owner City&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CVRD_DS_Owner_State__c&quot;,&quot;guid&quot;:&quot;column-eba3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Province&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Owner State&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CVRD_DS_Owner_Postal_Code__c&quot;,&quot;guid&quot;:&quot;column-33f6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Postal Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;Owner Postal Code&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Environment_Management_Act_Review</name>
            <fieldText>Environmental Management Act</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Environment_Management_Act_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Schedule_1_review</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(116, 116, 116);&quot;&gt;The site is or has been used for commercial or industrial purposes&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!EnvironmentalActConditionV1}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Schedule_2_review</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(116, 116, 116);&quot;&gt;A Site Disclosure Statement is required&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!EnvironmentalActConditionV22}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>EnvironmentalActConditionV22</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Riparian_Areas_Declaration_review</name>
            <fieldText>Riparian Areas Protection Regulation Declaration</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Riparian_Areas_Declaration_review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Riparian_Area_Message_1_review</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(116, 116, 116);&quot;&gt;30 metres of the high water mark of any water features&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!RiparianAreasConditionV11}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Riparian_Area_Message_2_review</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(116, 116, 116);&quot;&gt;A ravine or within 30 metres of the top of a ravine bank&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!RiparianAreasConditionV22}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>reCaptcha</name>
            <extensionName>c:googleRecaptcha</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>secretKey</name>
                <value>
                    <stringValue>6LeA4K4pAAAAAPX8UDkSSNA9nvb7cLLJEs6uqoKI</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>siteKey</name>
                <value>
                    <stringValue>6LeA4K4pAAAAAEO3RI99zY3YRP7kuGbHFubpAbpn</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>originPageURL</name>
                <value>
                    <stringValue>https://cvrd--dev1.sandbox.lightning.force.com, https://cvrd--dev1--c.sandbox.vf.force.com, https://cvrd--dev1.sandbox.my.site.com,https://cvrd--qa.sandbox.my.site.com</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <pauseButtonLabel>Pause Application</pauseButtonLabel>
        <pausedText>&lt;p&gt;Application has been pause. &lt;a href=&quot;https://cvrd--dev1.sandbox.my.site.com/CVRDCitizenshipPortal/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here.&lt;/a&gt;&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Riparian_Areas_Protection_Regulation_Declaration</name>
        <label>Riparian Areas Protection Regulation Declaration</label>
        <locationX>1458</locationX>
        <locationY>2798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Review_Application_Screen</targetReference>
        </connector>
        <fields>
            <name>Cvrd_LogoV2</name>
            <extensionName>c:cVRD_DS_Dev_App_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>RiparianAreasStage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Riparian Areas Protection Regulation Declaration</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Riparian_Areas_Protection_Regulation_Declaration_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Riparian_Areas_Protection_Regulation_Declaration_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Riparian_Areas_Section</name>
            <fieldText>Riparian Areas Protection Regulation Declaration</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Riparian_Areas_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RipariaAreasDisplayTextV1</name>
                    <fieldText>&lt;p&gt;Please indicate whether the development proposal involves the removal or alteration of any vegetation; soil disturbance; construction of buildings and structures; creation of impervious or semi-impervious surfaces; trails, roads, docks, wharves, bridges and, infrastructure and works of any kind within:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>RiparianAreasConditionV11</name>
                    <choiceReferences>EnvironmentalPicklistSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>30 metres of the high water mark of any water features</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>RiparianAreasConditionV22</name>
                    <choiceReferences>EnvironmentalPicklistSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>A ravine or within 30 metres of the top of a ravine bank</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Riparian_AreasDisplayTextV2</name>
                    <fieldText>&lt;p&gt;Water features includes; 1) a watercourse, whether it usually contains water or not; 2) a pond, lake, river, creek, or brook; 3) a ditch, spring, or wetland that is connected by surface flow to 1 or 2 above.&amp;nbsp;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Riparian_AreasDisplayTextV3</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Under the &lt;/strong&gt;&lt;a href=&quot;https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/00_97021_01&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;&lt;u&gt;Riparian Areas Protection Act,&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt; a riparian area assessment report may be required before this application can be processed (see &lt;/strong&gt;&lt;a href=&quot;https://www2.gov.bc.ca/assets/gov/environment/plants-animals-and-ecosystems/fish-fish-habitat/riparian-areas-regulations/rar-brochure-2016_final_web.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;&lt;u&gt;Riparian Areas Regulation Brochure&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt;).&amp;nbsp;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <pauseButtonLabel>Pause Application</pauseButtonLabel>
        <pausedText>&lt;p&gt;Application has been pause. &lt;a href=&quot;https://cvrd--dev1.sandbox.my.site.com/CVRDCitizenshipPortal/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here.&lt;/a&gt;&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>842</locationX>
        <locationY>5402</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Upload_Documents_Flow</targetReference>
        </connector>
        <fields>
            <name>Header_Success_Screen</name>
            <extensionName>c:cVRD_DS_Dev_App_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Success_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 26px; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Your &lt;/strong&gt;&lt;strong style=&quot;font-size: 26px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!RecordTypeValue}&lt;/strong&gt;&lt;strong style=&quot;font-size: 26px; color: rgb(0, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 26px; color: rgb(0, 0, 0); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;Application has been successfully submitted&lt;/strong&gt;&lt;strong style=&quot;font-size: 26px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-size: 14px; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;Your application will be reviewed for completeness and staff will contact you for payment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue to Upload Documents Section</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>694</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stages_assignment</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>attestation_subflow</name>
        <label>attestation subflow</label>
        <locationX>1458</locationX>
        <locationY>3014</locationY>
        <connector>
            <targetReference>Rec_check</targetReference>
        </connector>
        <flowName>CVRD_DS_Attestation_Development_Service_application</flowName>
        <inputAssignments>
            <name>ApplicationContactRecord</name>
            <value>
                <elementReference>Application_Contact_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ApplicationType</name>
            <value>
                <elementReference>RecordTypeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object_API_Name</name>
            <value>
                <stringValue>MUSW__Application2__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Stage</name>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Upload_Documents_Flow</name>
        <label>Upload Documents Flow</label>
        <locationX>842</locationX>
        <locationY>5510</locationY>
        <flowName>Upload_Submission_Requests</flowName>
        <inputAssignments>
            <name>Application_Id</name>
            <value>
                <elementReference>Create_Application_record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>OTPEmailTemp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!First_Name} {!Last_Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Verification code:&lt;/span&gt;&lt;span style=&quot;font-family: Aptos, sans-serif; font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;{!OTP_Value}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;The CVRD team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AddNewApplicationContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Application_Contact_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Application_Location_Record_Collation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>Application_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>ApplicationContactAgent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>ApplicationContactCreateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>ApplicationContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>ApplicationLocationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ApplicationLocationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>CollationCommentRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Comment__c</objectType>
    </variables>
    <variables>
        <name>CommentRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Comment__c</objectType>
    </variables>
    <variables>
        <name>createApplicationLocationRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>InitialStage</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsFirstLocationRecord</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LocationAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationPID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NonExemptedDPA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OTP_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OTPValue</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parcelIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaveRec</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>selectedDPAVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stage</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
