force-app/main/default/flows/CVRD_DS_Ledger_Account_Amount_Update_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Amount_addition</name>
        <label>Amount addition</label>
        <locationX>440</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Journal_Entry_Item.CVRD_DS_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Journal_Entry_Item</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Daysaven</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 7</expression>
    </formulas>
    <interviewLabel>CVRD DS Ledger Account Amount Update Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CVRD DS Ledger Account Amount Update Schedule</label>
    <loops>
        <name>Loop_on_Journal_Entry_Item</name>
        <label>Loop on Journal Entry Item</label>
        <locationX>352</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_Journal_Entry_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Amount_addition</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Ledger_Account_Amount_Weekly</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Journal_Entry_Item</name>
        <label>Get Journal Entry Item</label>
        <locationX>352</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Journal_Entry_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Daysaven</elementReference>
            </value>
        </filters>
        <filters>
            <field>clariti__LedgerAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>clariti__JournalEntryItem__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CVRD_DS_Amount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Ledger_Account_Amount_Weekly</name>
        <label>Update Ledger Account Amount Weekly</label>
        <locationX>352</locationX>
        <locationY>684</locationY>
        <inputAssignments>
            <field>CVRD_DS_Amount__c</field>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>clariti__LedgerAccount__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Journal_Entry_Item_weekly_update</name>
            <connector>
                <targetReference>Get_Journal_Entry_Item</targetReference>
            </connector>
            <label>Journal Entry Item weekly update</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
