force-app/main/default/flows/CVRD_DS_Update_Agenda_Item_OutCome.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_Board_Meeting_Outcome</name>
        <label>Check Board Meeting Outcome</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back_to_Review_Phase</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>recordId.MUSW__Proceeding__r.MUSW__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Board Meeting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referall to staff for additional information recommended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral to staff recommended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referred back to staff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referred to staff for additional information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External referrals recommended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referred to external agencies</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_To_Review_Phase</targetReference>
            </connector>
            <label>Back to Review Phase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Outcome_Records</name>
        <label>Check Outcome Records</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Outcome</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutCome_Screen</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OutComeChoiceList</name>
        <dataType>String</dataType>
        <displayField>CVRD_DS_OutcomeValue__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CVRD_DS_ApplicationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.MUSW__Application__r.MUSW__Type2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CVRD_DS_ProceedingType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.MUSW__Proceeding__r.MUSW__Type__c</elementReference>
            </value>
        </filters>
        <object>CVRD_DS_Proceeding_OutcomeMapping__mdt</object>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CVRD DS - Update Agenda Item OutCome {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CVRD DS - Update Agenda Item OutCome</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Outcome</name>
        <label>Get Outcome</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Outcome_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CVRD_DS_ApplicationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.MUSW__Application__r.MUSW__Type2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CVRD_DS_ProceedingType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.MUSW__Proceeding__r.MUSW__Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CVRD_DS_Proceeding_OutcomeMapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_To_Review_Phase</name>
        <label>Update Application To Review Phase</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.MUSW__Application__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CVRD_DS_CO_CFO_File_Uploaded__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Outcome</name>
        <label>Update Outcome</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Check_Board_Meeting_Outcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CVRD_DS_Outcome__c</field>
            <value>
                <elementReference>Outcome</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Proceeding_Agenda_Item__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(176, 17, 17); background-color: rgb(255, 255, 255);&quot;&gt;There are  No Outcomes Available.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OutCome_Screen</name>
        <label>OutCome Screen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Outcome</targetReference>
        </connector>
        <fields>
            <name>OutCome_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OutCome_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Outcome</name>
                    <choiceReferences>OutComeChoiceList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Outcome</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(36, 128, 29);&quot;&gt;Outcome Added Successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Outcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Proceeding_Agenda_Item__c</objectType>
    </variables>
</Flow>
