force-app/main/default/flows/CVRD_DS_Application_Create_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Initial_Reviews</name>
        <label>Create Initial Reviews</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <actionName>MUSW__CreateInitialReviewsAction</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__relatedRecord</typeName>
            <typeValue>MUSW__Application2__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>relatedRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MUSW__CreateInitialReviewsAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <constants>
        <name>DeveloperName</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>Type</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Queue</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Evaluate_completed_approval</name>
        <label>Evaluate completed approval</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_New_Application_or_Status_Phase_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Development_Permit_Application_type</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CVRD_DS_Completed_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GM Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EvaluateFormulaforApprovals</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_1</targetReference>
            </connector>
            <label>Development Permit Application type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Application_or_Status_Phase_Changed</name>
        <label>Is New Application or Status/Phase Changed</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Initial_Reviews</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EvaluateFormulaforApprovals</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(OR(ISPICKVAL({!$Record.MUSW__Type2__c}, &apos;Development_Permit&apos;),ISPICKVAL({!$Record.MUSW__Type2__c}, &apos;Board_of_Variance&apos;),ISPICKVAL({!$Record.MUSW__Type2__c}, &apos;Subdivision_Referral&apos;),ISPICKVAL({!$Record.MUSW__Type2__c}, &apos;Crown_Land_Referrals&apos;))),OR(AND(NOT(OR(ISPICKVAL({!$Record.CVRD_DS_Sub_Type__c}, &apos;Minor - New&apos;),ISPICKVAL({!$Record.CVRD_DS_Sub_Type__c}, &apos;Minor - Extension&apos;))),ISPICKVAL({!$Record.MUSW__Type2__c}, &apos;Development_Variance_Permit&apos;)),AND(NOT(ISPICKVAL({!$Record.CVRD_DS_Sub_Type__c}, &apos;Discharge&apos;)),ISPICKVAL({!$Record.MUSW__Type2__c}, &apos;Covenant_Amendment/Discharge&apos;)),AND(NOT(ISPICKVAL({!$Record.CVRD_DS_Sub_Type__c}, &apos;Retail Sales&apos;)),ISPICKVAL({!$Record.MUSW__Type2__c}, &apos;Cannabis Retail Licence&apos;)),AND(NOT(ISPICKVAL({!$Record.CVRD_DS_Sub_Type__c}, &apos;Delegated&apos;)),ISPICKVAL({!$Record.MUSW__Type2__c}, &apos;Liquor Licence Referrals&apos;))))</expression>
    </formulas>
    <interviewLabel>CVRD_DS_Application_Create_Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CVRD_DS_Application_Create_Review</label>
    <overriddenFlow>clariti__Application_Create_Reviews</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_New_Application_or_Status_Phase_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Close Out</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_completed_approval</targetReference>
        </connector>
        <object>MUSW__Application2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
