force-app/main/default/flows/CVRD_DS_Update_Agenda_Item_OutCome.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Board_Meeting_Outcome</name>
        <label>Check Board Meeting Outcome</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back_to_Review_Phase</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>recordId.MUSW__Proceeding__r.MUSW__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Board Meeting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referall to staff for additional information recommended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral to staff recommended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referred back to staff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referred to staff for additional information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External referrals recommended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referred to external agencies</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_To_Review_Phase</targetReference>
            </connector>
            <label>Back to Review Phase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Outcome_Records</name>
        <label>Check Outcome Records</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Outcome</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutCome_Screen</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>evaluate_null_record</name>
        <label>evaluate null record</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_on_content_version_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_is_Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_content_version_Ids</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Content_Distribution_Link</targetReference>
            </connector>
            <label>Record is Not null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OutComeChoiceList</name>
        <dataType>String</dataType>
        <displayField>CVRD_DS_OutcomeValue__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CVRD_DS_ApplicationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.MUSW__Application__r.MUSW__Type2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CVRD_DS_ProceedingType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.MUSW__Proceeding__r.MUSW__Type__c</elementReference>
            </value>
        </filters>
        <object>CVRD_DS_Proceeding_OutcomeMapping__mdt</object>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CVRD DS - Update Agenda Item OutCome {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CVRD DS - Update Agenda Item OutCome</label>
    <loops>
        <name>Loop_on_content_version_Ids</name>
        <label>Loop on content version Ids</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionReference>ContentVersionIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>evaluate_null_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Content_DestributionLink</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Content_Distribution_Link</name>
        <label>Only One Content Distribution Link</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Loop_on_content_version_Ids</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentVersionId</field>
            <value>
                <elementReference>Loop_on_content_version_Ids</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Meeting Outcome Document</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowOriginalDownload</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowViewInBrowser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesNotifyOnVisit</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_DestributionLink</name>
        <label>Get Content DestributionLink</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Outcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Content_Distribution_Link</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Outcome</name>
        <label>Get Outcome</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Outcome_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CVRD_DS_ApplicationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.MUSW__Application__r.MUSW__Type2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CVRD_DS_ProceedingType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.MUSW__Proceeding__r.MUSW__Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CVRD_DS_Proceeding_OutcomeMapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_To_Review_Phase</name>
        <label>Update Application To Review Phase</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.MUSW__Application__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CVRD_DS_CO_CFO_File_Uploaded__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Outcome</name>
        <label>Update Outcome</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Check_Board_Meeting_Outcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CVRD_DS_Outcome__c</field>
            <value>
                <elementReference>Outcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CVRD_DS_Public_URL__c</field>
            <value>
                <elementReference>Get_Content_DestributionLink.DistributionPublicUrl</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Proceeding_Agenda_Item__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(176, 17, 17); background-color: rgb(255, 255, 255);&quot;&gt;There are  No Outcomes Available.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OutCome_Screen</name>
        <label>OutCome Screen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_on_content_version_Ids</targetReference>
        </connector>
        <fields>
            <name>OutCome_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OutCome_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Outcome</name>
                    <choiceReferences>OutComeChoiceList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.CVRD_DS_Outcome__c</elementReference>
                    </defaultValue>
                    <fieldText>Outcome</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Upload_meeting_documents</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Upload meeting documents</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>UploadMeetingDocument</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Document</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContentVersionIds</assignToReference>
                        <name>contentVersionIds</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Upload_meeting_documents</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(36, 128, 29);&quot;&gt;Record updated Successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Outcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentVersionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileUploadName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Proceeding_Agenda_Item__c</objectType>
    </variables>
</Flow>
