force-app/main/default/flows/CVRD_DS_Attestation_Development_Service_application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assignment_of_Stage</name>
        <label>Assignment of Stage</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>InitialStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Application Type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Description</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Property Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Owner Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Agent Authorization / Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Environmental Management Act</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Riparian Areas Protection Regulation Declaration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Owner/Agent Declaration</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Attestation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attestation_Consent_Assignment</name>
        <label>Attestation Consent Assignment</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Attestation_Consent.MUSW__Attestation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Attestation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attestation_Consent.MUSW__Attestation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attestation_Consent.MUSW__Attestor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attestation_Consent.MUSW__Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acknowledgement_Checkbox</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>DPA_Stages_assignment</name>
        <label>DPA Stages assignment</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Application Type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Description</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Property Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Development Permit Areas</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Owner Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Agent Authorization / Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Environmental Management Act</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Riparian Areas Protection Regulation Declaration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Owner/Agent Declaration</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Attestation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Equate_Stage</name>
        <label>Equate Stage</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InitialStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Attestation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_DPA_Stage</name>
        <label>Check DPA Stage</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Equate_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DPA_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApplicationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Development_Permit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DPA_Stages_assignment</targetReference>
            </connector>
            <label>DPA Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Attestation_Exists</name>
        <label>Evaluate Attestation Exists</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Attestation_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Attestation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_DPA_Stage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CVRD_DS_Attestation_Development_Service_application {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CVRD_DS_Attestation_Development_Service_application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Attestation</name>
        <label>Get Attestation</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Attestation_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Object_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Object_API_Name</elementReference>
            </value>
        </filters>
        <object>MUSW__Attestation__c</object>
        <outputReference>Attestation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Message__c</queriedFields>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Attestation_Error</name>
        <label>Attestation Error</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Attestation_Not_Found_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;No attestation found. Please try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Attestation</name>
        <label>Display Attestation</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Attestation_Consent_Assignment</targetReference>
        </connector>
        <fields>
            <name>AppLogo</name>
            <extensionName>c:cVRD_DS_Dev_App_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>StageOwnerAgentDeclaration</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Owner/Agent Declaration</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Attestation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Attestation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AgentOwnerDeclarationDisplayV11</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Attestation.MUSW__Message__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Acknowledgement_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>I, {!ApplicationContactRecord.MUSW__First_Name__c} {!ApplicationContactRecord.MUSW__Last_Name__c}, hereby do attest that I completed the {!ApplicationType}.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please agree to the terms by checking the box above.&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!Acknowledgement_Checkbox}=TRUE,TRUE,FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_of_Stage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicationContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>ApplicationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Attestation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Attestation__c</objectType>
    </variables>
    <variables>
        <name>Attestation_Consent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Attestation_Consent__c</objectType>
    </variables>
    <variables>
        <name>InitialStage</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Object_API_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stage</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
