force-app/main/default/flows/CVRD_DS_Update_Planner_Review_to_Correction_Required.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_Application_Coming_back_to_review</name>
        <label>Check Application Coming back to review</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Planner_Review</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Report Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appeal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Planner_Review</targetReference>
            </connector>
            <label>Planner Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Planner_Review_Record</name>
        <label>Check Planner Review Record</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_Planner_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Planner_Review</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Planner_review_to_Correction_Required</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CVRD DS - Update Planner Review to Correction Required {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CVRD DS - Update Planner Review to Correction Required</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Planner_Review</name>
        <label>Create Planner Review</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>MUSW__Application2__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Type__c</field>
            <value>
                <stringValue>Planner Review</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Planner_Review</name>
        <label>Get Planner Review</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Planner_Review_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planner Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Completed_Action__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Corrections Required</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_APplication_Co_CFO_Check</name>
        <label>Update APplication Co/CFO Check</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>CVRD_DS_CO_CFO_File_Uploaded__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Planner_review_to_Correction_Required</name>
        <label>Update Planner review to Correction Required</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_APplication_Co_CFO_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Planner_Review.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CVRD_DS_Comments__c</field>
            <value>
                <stringValue>Application Rejected By Approver.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Completed_Action__c</field>
            <value>
                <stringValue>Corrections Required</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Review__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Application_Coming_back_to_review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
