force-app/main/default/flows/CVRD_DS_Additional_Fee_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Initiate_fields</name>
        <label>Initiate fields</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>feeRecord.MUSW__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fee_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feeRecord.MUSW__Application2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feeRecord.CVRD_DS_Additional_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Fee_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feeRecord.MUSW__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Additional_Fee_record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Additional_Fee</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Additional Fee&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Additional Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Administrative_Fee</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Administrative Fee&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Administrative Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Advertising_Fee</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Advertising Fee&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Advertising Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>File_Opening_Fee</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;File Opening Fee&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>File Opening Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Fee</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Other Fee&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Security_Deposit</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Security Deposit&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Security Deposit</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>Additional_Fee_Type_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CVRD_DS_Additional_Fees__c</picklistField>
        <picklistObject>MUSW__Fee__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CVRD DS Additional Fee Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CVRD DS Additional Fee Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Additional_Fee_record</name>
        <label>Create Additional Fee record</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputReference>feeRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Record</name>
        <label>Get Application Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manual_fee_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Application2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Manual_fee_screen</name>
        <label>Manual fee screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Initiate_fields</targetReference>
        </connector>
        <fields>
            <name>Application_Details</name>
            <fieldText>Application Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Application_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Section1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Type: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Application_Record.MUSW__Type2__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>UnitTextfieldinfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Number of Existing Units: &lt;/strong&gt;{!Get_Application_Record.CVRD_DS_Units__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Application_Record.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Strata_Conversion</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>section2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Sub Type: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Application_Record.CVRD_DS_Sub_Type__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Application_Record.MUSW__Type2__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Development_Permit</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>section3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Sub Type: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Get_Application_Record.CVRD_DS_DPA_Sub_Type__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Application_Record.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Development_Permit</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_Fee_Details</name>
            <fieldText>Additional Fee Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Fee_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fee_Type</name>
                    <choiceReferences>Administrative_Fee</choiceReferences>
                    <choiceReferences>Advertising_Fee</choiceReferences>
                    <choiceReferences>Additional_Fee</choiceReferences>
                    <choiceReferences>Security_Deposit</choiceReferences>
                    <choiceReferences>Other_Fee</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Fee Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Total</name>
                    <dataType>Currency</dataType>
                    <fieldText>Total</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Additional_Fee_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Additional_Fee_Type</name>
                    <choiceReferences>Additional_Fee_Type_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Additional Fee Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Fee_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Additional_Fee</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Fee</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>feeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Fee__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
