force-app/main/default/flows/CVRD_DS_Create_Application_Location_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Logged_User_License</name>
        <label>Check Logged User</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Community</defaultConnectorLabel>
        <rules>
            <name>Internal_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Application_Location_Record</targetReference>
            </connector>
            <label>Internal License</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CVRD DS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CVRD DS Create Application Location Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application_Location_Record</name>
        <label>Create Application Location Record</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>MUSW__Address__c</field>
            <value>
                <elementReference>$Record.MUSW__Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Parcel__c</field>
            <value>
                <elementReference>$Record.MUSW__Parcel__c</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Application_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Logged_User_License</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Parcel__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
