force-app/main/default/flows/CVRD_DS_Application_Generate_Permit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Permit</name>
        <label>Generate Permit</label>
        <locationX>138</locationX>
        <locationY>1466</locationY>
        <actionName>BGBL__GenerateLettersAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_Document_Template</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>letterRecordId</name>
            <value>
                <elementReference>Loop_Through_Document_Template.clariti__Document_Type__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BGBL__GenerateLettersAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Status_is_Completed</name>
        <label>Check Status is Completed</label>
        <locationX>250</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Condition_Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Condition_Record</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Check_on_ConditionRec</name>
        <label>Empty Check on ConditionRec</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Document_Template_RecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Condition_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Condition_Record</targetReference>
            </connector>
            <label>Found Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_check_on_Document_Template_Records</name>
        <label>Empty check on Document Template Records</label>
        <locationX>182</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDocument_Template</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Document_Template</targetReference>
            </connector>
            <label>Found Records</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CVRD DS - Application Generate Permit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CVRD DS - Application Generate Permit</label>
    <loops>
        <name>Iterate_Condition_Record</name>
        <label>Iterate Condition Record</label>
        <locationX>74</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Condition_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Status_is_Completed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Document_Template_RecordType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Document_Template</name>
        <label>Loop Through Document Template</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <collectionReference>GetDocument_Template</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Generate_Permit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SuccessScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Condition_Record</name>
        <label>Get Condition Records</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_Check_on_ConditionRec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MUSW__Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Template_RecordType</name>
        <label>Get Document Template RecordType</label>
        <locationX>182</locationX>
        <locationY>1034</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDocument_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clariti__Document_Template__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application_Document</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>DocumentRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetDocument_Template</name>
        <label>Get Document Template</label>
        <locationX>182</locationX>
        <locationY>1142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_check_on_Document_Template_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>clariti__Application_Phases__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.MUSW__Phase__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>clariti__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>clariti__Application_Statuses__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.MUSW__Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocumentRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>clariti__Application_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.MUSW__Type2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>clariti__Document_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_2_of_Error_Screen</name>
        <label>Copy 2 of Error Screen</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_ErrorDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(221, 27, 27);&quot;&gt;There are no Permit Template Present&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>338</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(231, 19, 19); font-size: 14px;&quot;&gt;Please complete all the conditions!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>50</locationX>
        <locationY>1658</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(83, 127, 58);&quot;&gt;Permit Generated Successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Condition_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>DocumentRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
</Flow>
