force-app/main/default/flows/CVRD_DS_Create_Proceeding_Agenda_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Application_Record_Id</name>
        <label>Assign Application Record Id</label>
        <locationX>468</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Application_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicationLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Proceeding_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Proceeding_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Proceeding_Record_Id</name>
        <label>Assign Proceeding Record Id</label>
        <locationX>204</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Proceeding_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProceedingLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Proceeding_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Board_Meeting_Outcome</name>
        <label>Check Board Meeting Outcome</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>SuccessScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back_to_Review_Phase</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Proceeding_Type.MUSW__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Board Meeting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referall to staff for additional information recommended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral to staff recommended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referred back to staff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referred to staff for additional information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External referrals recommended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referred to external agencies</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_To_Review_Phase</targetReference>
            </connector>
            <label>Back to Review Phase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_Application_Record_Empty</name>
        <label>Check Is Application Record Empty</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Proceeding_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Proceeding_Screen</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_OutCome_Available</name>
        <label>Check OutCome Available</label>
        <locationX>336</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Outcome</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outcome_Screen</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceoutcomevalues</name>
        <collectionReference>OutcomeChoice</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>MUSW__Application2__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OutComeListMetadata</name>
        <dataType>String</dataType>
        <displayField>CVRD_DS_OutcomeValue__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CVRD_DS_ProceedingType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Proceeding_Type.MUSW__Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CVRD_DS_ApplicationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Application_Record.MUSW__Type2__c</elementReference>
            </value>
        </filters>
        <object>CVRD_DS_Proceeding_OutcomeMapping__mdt</object>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FormulaApplicationType</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!Get_Application_Record.MUSW__Type2__c}), &quot;_&quot;, &quot; &quot;)</expression>
    </formulas>
    <interviewLabel>CVRD DS - Create Proceeding Agenda Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CVRD DS - Create Proceeding Agenda Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ProceedingAgendaItem</name>
        <label>Create ProceedingAgendaItem</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Check_Board_Meeting_Outcome</targetReference>
        </connector>
        <inputAssignments>
            <field>CVRD_DS_Outcome__c</field>
            <value>
                <elementReference>Outcome_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CVRD_DS_Resolution__c</field>
            <value>
                <elementReference>Resolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Application__c</field>
            <value>
                <elementReference>Application_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Proceeding__c</field>
            <value>
                <elementReference>Proceeding_Id</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Proceeding_Agenda_Item__c</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Application_Record</name>
        <label>Copy 1 of Get Application Record</label>
        <locationX>336</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Outcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Application2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Application_Record</name>
        <label>Get Application Record</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Is_Application_Record_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Application2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Outcome</name>
        <label>Get Outcome</label>
        <locationX>336</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_OutCome_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CVRD_DS_ProceedingType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Proceeding_Type.MUSW__Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CVRD_DS_ApplicationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Application_Record.MUSW__Type2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CVRD_DS_Proceeding_OutcomeMapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Proceeding_Record</name>
        <label>Get Proceeding Record</label>
        <locationX>468</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Application_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Proceeding2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Proceeding_Type</name>
        <label>Get Proceeding Type</label>
        <locationX>336</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Application_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Proceeding_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Proceeding2__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Type__c</queriedFields>
        <queriedFields>MUSW__Scheduled_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_To_Review_Phase</name>
        <label>Update Application To Review Phase</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hearing</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>490</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDisaplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(176, 17, 17);&quot;&gt;There are  No Outcomes Available.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Outcome_Screen</name>
        <label>Outcome Screen</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_ProceedingAgendaItem</targetReference>
        </connector>
        <fields>
            <name>Outcome</name>
            <fieldText>Outcome</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Outcome_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Outcome_1</name>
                    <choiceReferences>OutComeListMetadata</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Outcome</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Resolution</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Outcome_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DetailsPage</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Proceeding Type : &lt;/strong&gt;{!Get_Proceeding_Type.MUSW__Type__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Scheduled Date : &lt;/strong&gt;{!Get_Proceeding_Type.MUSW__Scheduled_Date__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ApplicationLookup.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Application_Screen</name>
        <label>Select Application Screen</label>
        <locationX>468</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Application_Record_Id</targetReference>
        </connector>
        <fields>
            <name>Select_Application</name>
            <fieldText>Select Application</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Application_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pre_definedValues</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Proceeding Number : &lt;/strong&gt;{!Get_Proceeding_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Proceeding Type: &lt;/strong&gt;{!Get_Proceeding_Record.MUSW__Type__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Scheduled Date : &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Proceeding_Record.MUSW__Scheduled_Date__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Application_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ApplicationLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>MUSW__Application__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Application</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>MUSW__Proceeding_Agenda_Item__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Proceeding_Screen</name>
        <label>Select Proceeding Screen</label>
        <locationX>204</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Proceeding_Record_Id</targetReference>
        </connector>
        <fields>
            <name>Select_Proceeding</name>
            <fieldText>Select Proceeding</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Proceeding_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProceedingDisaplay</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Application Number : &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Application_Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Application Type : &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!FormulaApplicationType}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Proceeding_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProceedingLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>MUSW__Proceeding__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Proceeding</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>MUSW__Proceeding_Agenda_Item__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(58, 140, 17);&quot;&gt;Proceeding Agenda Item added Successfully.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Application_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutcomeChoice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>outcomeVariables</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Proceeding_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
