force-app/main/default/flows/CVRD_DS_Fee_update_with_Ledger_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Evaluate_Application_record</name>
        <label>Evaluate Application record</label>
        <locationX>226</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Application_record_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ledger_Account_Details</targetReference>
            </connector>
            <label>Application record available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Application_type</name>
        <label>Evaluate Application type</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Update_Fee_record_but_not_the_development_permit_applications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other than Development Permit</defaultConnectorLabel>
        <rules>
            <name>Development_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Development_Permit</stringValue>
                </rightValue>
            </conditions>
            <label>Development Permit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CVRD DS Fee update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CVRD DS Fee update with Ledger account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Ledger_Account_Details</name>
        <label>Get Ledger Account Details</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Fee_records_with_Ledger_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CVRD_DS_Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Application2__r.MUSW__Type2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CVRD_DS_Ledger_Account_Detail__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fee_record_but_not_the_development_permit_applications</name>
        <label>Update Fee record but not the development permit applications related</label>
        <locationX>138</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>CVRD_DS_Application_Sub_Type__c</field>
            <value>
                <elementReference>$Record.MUSW__Application2__r.CVRD_DS_Sub_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fee_records_with_Ledger_Account_Details</name>
        <label>Update Fee records with Ledger Account Details</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Evaluate_Application_type</targetReference>
        </connector>
        <inputAssignments>
            <field>clariti__ARLedgerAccountName__c</field>
            <value>
                <elementReference>Get_Ledger_Account_Details.CVRD_DS_AR_Ledger_Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clariti__ARLedgerAccountNumber__c</field>
            <value>
                <elementReference>Get_Ledger_Account_Details.CVRD_DS_AR_Ledger_Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clariti__CashLedgerAccountName__c</field>
            <value>
                <elementReference>Get_Ledger_Account_Details.CVRD_DS_Cash_Ledger_Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clariti__CashLedgerAccountNumber__c</field>
            <value>
                <elementReference>Get_Ledger_Account_Details.CVRD_DS_Cash_Ledger_Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clariti__RevenueLedgerAccountName__c</field>
            <value>
                <elementReference>Get_Ledger_Account_Details.CVRD_DS_Revenue_Ledger_Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clariti__RevenueLedgerAccountNumber__c</field>
            <value>
                <elementReference>Get_Ledger_Account_Details.CVRD_DS_Revenue_Ledger_Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Application_record</targetReference>
        </connector>
        <object>MUSW__Fee__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
