force-app/main/default/flows/CVRD_DS_Task_Due_Date_Email_Notification_for_Referrals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Due_date_email_before_5_days</name>
        <label>Due date email before 5 days</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Follow-Up: Referral Reminder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TaskEmailNotificationTemp</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_on_creation_of_task</name>
        <label>Send Email on creation of task</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Referral has been created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TaskCreationNotification</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Due_Date_Greater_Than_Today</name>
        <label>Due Date Greater Than Today</label>
        <locationX>644</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_current_Review_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Check_on_Review_Record</name>
        <label>Empty Check on Review Record</label>
        <locationX>446</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Review_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_Review_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Due_date_email_before_5_days</targetReference>
            </connector>
            <label>Review Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>partnerPortalLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_100}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_100})) &amp; {!partnerportalnameforurl} &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>RelatedTaskLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_100}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_100})) &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>CVRD DS Task - Due Date Email Notification for Referral {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CVRD DS Task - Due Date Email Notification for Referral</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_current_Review_Record</name>
        <label>Get current Review Record</label>
        <locationX>446</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_Check_on_Review_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_on_creation_of_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Email_Notification_5_days_before</name>
            <connector>
                <targetReference>Due_Date_Greater_Than_Today</targetReference>
            </connector>
            <label>Email Notification 5 days before</label>
            <maxBatchSize>100</maxBatchSize>
            <offsetNumber>-5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ActivityDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>TaskCreationNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear External User,
referral has been generated, click on below link and verify the application,
{!partnerPortalLink}</text>
    </textTemplates>
    <textTemplates>
        <name>TaskEmailNotificationTemp</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear Reviewer,

This is a reminder that you have five days left to complete your review for Development Services {!Get_current_Review_Record.MUSW__Application2__r.MUSW__Type2__c} application #{!Get_current_Review_Record.MUSW__Application2__r.Name}, per an email message sent to you on {!$Flow.CurrentDate}.  If you have any questions or concerns, please contact me at {!Get_current_Review_Record.CVRD_DS_Planner__r.Email} or {!Get_current_Review_Record.CVRD_DS_Planner__r.Phone} (Please do not respond to this email).

Also reminding you that if you do not reply by the due date, I will be assuming that you have no review comments.

Regards,
{!Get_current_Review_Record.CVRD_DS_Planner__r.FirstName} {!Get_current_Review_Record.CVRD_DS_Planner__r.LastName}
{!Get_current_Review_Record.CVRD_DS_Planner__r.Title}
Land Use Services Department
Cowichan Valley Regional District
175 Ingram Street DUNCAN BC V9L 1N7
Email:  {!Get_current_Review_Record.CVRD_DS_Planner__r.Email}
Telephone:  {!Get_current_Review_Record.CVRD_DS_Planner__r.Phone} Toll Free: 1.800.665.3955

I acknowledge that for thousands of years the Quw&apos;utsun, Malahat, Ts&apos;uubaa-asatx, Halalt, Penelakut, Stz&apos;uminus, Lyackson, Pauquachin, Ditidaht &amp; Pacheedaht Peoples have walked gently on the unceded territories where I now work and live.</text>
    </textTemplates>
    <variables>
        <name>partnerportalnameforurl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CVRDCitizenshipPortal/s/</stringValue>
        </value>
    </variables>
</Flow>
