force-app/main/default/flows/CVRD_DS_Review_Update_Milestone_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>This assignment element sets the All Reviews Complete variable to False.</description>
        <name>Set_All_Reviews_Complete_False</name>
        <label>Set All Reviews Complete False</label>
        <locationX>974</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AllReviewsComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Is_Review_Completed_Action_Corrections_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assignment element sets the All Review Pending variable to False.</description>
        <name>Set_All_Reviews_Pending_False</name>
        <label>Set All Reviews Pending False</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AllReviewsPending</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Pending_Reviews_with_Related_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assignment element sets the Any Review Corrections Required variable to True.</description>
        <name>Set_Any_Review_Corrections_Required_True</name>
        <label>Set Any Review Corrections Required True</label>
        <locationX>754</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>AnyReviewCorrectionsRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Completed_Reviews_with_Related_Milestone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluate_Is_All_Reviews_Complete_and_Any_Review_Corrections_Required</name>
        <label>Evaluate Is All Reviews Complete and Any Review Corrections Required</label>
        <locationX>666</locationX>
        <locationY>1331</locationY>
        <defaultConnectorLabel>A Review is not Complete</defaultConnectorLabel>
        <rules>
            <name>All_Reviews_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllReviewsComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AnyReviewCorrectionsRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Milestone_Status_and_Completed_Action_to_Completed_and_Approved</targetReference>
            </connector>
            <label>All Reviews Complete and Approved</label>
        </rules>
        <rules>
            <name>All_Reviews_Complete_but_Corrections_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllReviewsComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AnyReviewCorrectionsRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Milestone_Status_and_Completed_Action_to_Completed_and_Corrections_Requir</targetReference>
            </connector>
            <label>All Reviews Complete but Corrections Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Is_Any_Review_Pending</name>
        <label>Evaluate Is Any Review Pending</label>
        <locationX>1546</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>A Review is not in Pending</defaultConnectorLabel>
        <rules>
            <name>All_Reviews_in_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllReviewsPending</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Milestone_Status_Pending</targetReference>
            </connector>
            <label>All Reviews in Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Is_Review_Completed_Action_Corrections_Required</name>
        <label>Evaluate Is Review Completed Action Corrections Required</label>
        <locationX>886</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Completed_Reviews_with_Related_Milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Approved or Empty</defaultConnectorLabel>
        <rules>
            <name>Corrections_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Completed_Reviews_with_Related_Milestone.MUSW__Completed_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corrections Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Any_Review_Corrections_Required_True</targetReference>
            </connector>
            <label>Corrections Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Is_Review_Status_Completed</name>
        <label>Evaluate Is Review Status Completed</label>
        <locationX>886</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Set_All_Reviews_Complete_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Completed_Reviews_with_Related_Milestone.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Is_Review_Completed_Action_Corrections_Required</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Is_Review_Status_Pending</name>
        <label>Evaluate Is Review Status Pending</label>
        <locationX>1766</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Pending_Reviews_with_Related_Milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Pending_Reviews_with_Related_Milestone.MUSW__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_All_Reviews_Pending_False</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision element evaluates Review status outcome in order. For the first outcome whose conditions are met, the flow takes the associated path. If no outcome’s conditions are met, the flow takes the path for the default outcome.</description>
        <name>Evaluate_Review_Status</name>
        <label>Evaluate Review Status</label>
        <locationX>1392</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Milestone_Status_In_Progress</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Completed_Reviews_with_Related_Milestone</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pending_Reviews_with_Related_Milestone</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Milestone_Status_In_Progress</targetReference>
            </connector>
            <label>On Hold</label>
        </rules>
        <rules>
            <name>Additional_Information_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Information Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Milestone_Status_In_Progress</targetReference>
            </connector>
            <label>Additional Information Required</label>
        </rules>
        <rules>
            <name>Appeal_Initiated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initiated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Update_Milestone_Status_Initiated</targetReference>
            </connector>
            <label>Appeal Initiated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CVRD DS Review - Update Milestone Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CVRD DS Review - Update Milestone Status</label>
    <loops>
        <name>Loop_On_Completed_Reviews_with_Related_Milestone</name>
        <label>Loop On Reviews with Related Milestone</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Completed_Reviews_with_Related_Milestone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Evaluate_Is_Review_Status_Completed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Evaluate_Is_All_Reviews_Complete_and_Any_Review_Corrections_Required</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Pending_Reviews_with_Related_Milestone</name>
        <label>Loop on Reviews with Related Milestone</label>
        <locationX>1546</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Pending_Reviews_with_Related_Milestone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Evaluate_Is_Review_Status_Pending</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Evaluate_Is_Any_Review_Pending</targetReference>
        </noMoreValuesConnector>
    </loops>
    <overriddenFlow>clariti__Review_Update_Milestone_Status</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Completed_Reviews_with_Related_Milestone</name>
        <label>Get Reviews with Related Milestone</label>
        <locationX>666</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Completed_Reviews_with_Related_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Milestone__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MUSW__Review__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Status__c</queriedFields>
        <queriedFields>MUSW__Completed_Action__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pending_Reviews_with_Related_Milestone</name>
        <label>Get Reviews with Related Milestone</label>
        <locationX>1546</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Pending_Reviews_with_Related_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Milestone__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MUSW__Review__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Update_Milestone_Status_Initiated</name>
        <label>Copy 1 of Copy 1 of Update Milestone Status Initiated</label>
        <locationX>2470</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Milestone__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Milestone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Milestone_Status_In_Progress</name>
        <label>Copy 1 of Update Milestone Status On Hold</label>
        <locationX>1942</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Milestone__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Milestone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Milestone_Status_In_Progress</name>
        <label>Copy 2 of Update Milestone Status Additional Information</label>
        <locationX>2206</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Milestone__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Additional Information Required</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Milestone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestone_Status_and_Completed_Action_to_Completed_and_Approved</name>
        <label>Update Milestone Status and Completed Action to Completed and Approved</label>
        <locationX>402</locationX>
        <locationY>1439</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Milestone__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Completed_Action__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Milestone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestone_Status_and_Completed_Action_to_Completed_and_Corrections_Requir</name>
        <label>Update Milestone Status and Completed Action to Completed and Corrections Required</label>
        <locationX>666</locationX>
        <locationY>1439</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Milestone__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Completed_Action__c</field>
            <value>
                <stringValue>Corrections Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Milestone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestone_Status_In_Progress</name>
        <label>Update Milestone Status In Progress</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Milestone__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Milestone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestone_Status_Pending</name>
        <label>Update Milestone Status Pending</label>
        <locationX>1414</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Milestone__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Milestone__c</object>
    </recordUpdates>
    <start>
        <locationX>1266</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Review_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Milestone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>MUSW__Review__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllReviewsComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AllReviewsPending</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AnyReviewCompletedActionEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AnyReviewCorrectionsRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
