force-app/main/default/flows/CVRD_DS_Public_Link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_link_to_submission_rich_text_area</name>
        <label>Assign link to submission rich text area</label>
        <locationX>264</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>all_links</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>(</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>all_links</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_the_distribution_link.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>all_links</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>all_links</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_the_distribution_link.DistributionPublicUrl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>all_links</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_the_distribution_link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_query_Value_to_Variable</name>
        <label>Assign query Value to Variable</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentIdcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_get_ContentDocumentId.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_get_ContentDocumentId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Ids</name>
        <label>Collect Ids</label>
        <locationX>264</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentIdcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Ids_of_Content_Distribution.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Ids_of_Content_Distribution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_content_distribution_record</name>
        <label>Initiate content distribution record</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Content_distribution_record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_content_Document.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Content_distribution_record.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_content_Document.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Content_distribution_record.ContentVersionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_content_Document.LatestPublishedVersionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Content_distribution_record.PreferencesAllowOriginalDownload</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Content_distribution_record.PreferencesAllowPDFDownload</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Content_distribution_record.PreferencesAllowViewInBrowser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionDistributionRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Content_distribution_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_content_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_ids_temp</name>
        <label>Remove ids temp</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentIdcollection</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Ids_of_Content_Distribution</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Public Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Public Link</label>
    <loops>
        <name>Get_Ids_of_Content_Distribution</name>
        <label>Get Ids of Content Distribution</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <collectionReference>CollectionDistributionRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Content_Distribution_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_the_distribution_link</name>
        <label>Get the distribution link</label>
        <locationX>176</locationX>
        <locationY>1790</locationY>
        <collectionReference>Get_Content_Distribution_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_link_to_submission_rich_text_area</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Submission_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_get_ContentDocumentId</name>
        <label>Loop to get ContentDocumentId</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_content_Document_Link</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_query_Value_to_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Content_Document</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Selected_content_Document</name>
        <label>Selected content Document</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <collectionReference>Content_Document.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initiate_content_distribution_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Content_Distribution_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Content_Distribution_Record</name>
        <label>Create Content Distribution Record</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Remove_ids_temp</targetReference>
        </connector>
        <inputReference>CollectionDistributionRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Distribution_Record</name>
        <label>Get Content Distribution Record</label>
        <locationX>176</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_distribution_link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentDocumentIdcollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Document_Selection_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentDocumentIdcollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_content_Document_Link</name>
        <label>Get content Document Link</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_get_ContentDocumentId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_submission_Record</name>
        <label>Get submission Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Submission_record</name>
        <label>Update Submission record</label>
        <locationX>176</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CVRD_DS_Publicly_Available__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__View_Links__c</field>
            <value>
                <elementReference>all_links</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Submission__c</object>
    </recordUpdates>
    <screens>
        <name>Document_Selection_Screen</name>
        <label>Document Selection Screen</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_content_Document</targetReference>
        </connector>
        <fields>
            <name>Content_Document</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentDocument</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Content_Document</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-dfef&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>2198</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Done</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(88, 157, 76); font-size: 20px;&quot;&gt;Successful!&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_submission_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>all_links</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionDistributionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDistribution</objectType>
    </variables>
    <variables>
        <name>Content_distribution_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDistribution</objectType>
    </variables>
    <variables>
        <name>ContentDocumentIdcollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
