force-app/main/default/flows/CVRD_DS_Application_Create_Deposit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Details</name>
        <label>Assign Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>depositRecord.clariti__APLedgerAccountName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Funds Held in Trust</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>depositRecord.clariti__APLedgerAccountNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01-1-5100-3525</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deposit_Screen</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>CVRD DS Application - Create Deposit {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CVRD DS Application - Create Deposit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Deposit_Record</name>
        <label>Create Deposit Record</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>CVRD_DS_Details__c</field>
            <value>
                <elementReference>Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clariti__APLedgerAccountName__c</field>
            <value>
                <elementReference>depositRecord.clariti__APLedgerAccountName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clariti__APLedgerAccountNumber__c</field>
            <value>
                <elementReference>depositRecord.clariti__APLedgerAccountNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clariti__Account__c</field>
            <value>
                <elementReference>recordId.MUSW__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clariti__Application2__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clariti__RequiredAmount__c</field>
            <value>
                <elementReference>Deposit_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clariti__Type__c</field>
            <value>
                <stringValue>Security Deposit</stringValue>
            </value>
        </inputAssignments>
        <object>clariti__Deposit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Deposit_Screen</name>
        <label>Deposit Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Deposit_Record</targetReference>
        </connector>
        <fields>
            <name>Deposit_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Deposit_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deposit_Amount</name>
                    <dataType>Number</dataType>
                    <fieldText>Deposit Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>depositRecord.clariti__APLedgerAccountName__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>depositRecord.clariti__APLedgerAccountNumber__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Deposit_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Details</name>
                    <fieldText>Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(58, 134, 11);&quot;&gt;Deposit created Successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>depositRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clariti__Deposit__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
</Flow>
