force-app/main/default/flows/CVRD_DS_Update_Application_to_CloseOut.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Condition_is_Completed</name>
        <label>Check Condition is Completed</label>
        <locationX>226</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Error_Screen11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Conditions.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Conditions</targetReference>
            </connector>
            <label>Complted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Issue_Review_Completed</name>
        <label>Check Issue/ Review Completed</label>
        <locationX>432</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Review_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subdivision_Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Conditions_Record</targetReference>
            </connector>
            <label>Review Completed</label>
        </rules>
        <rules>
            <name>IssueCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Declaration_Screen</targetReference>
            </connector>
            <label>Issue Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Check_on_Condition_Record</name>
        <label>Empty Check on Condition Record</label>
        <locationX>158</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Review_Declaration_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Empty_Check_on_Condition_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Conditions_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Conditions</targetReference>
            </connector>
            <label>Outcome 1 of Empty Check on Condition Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CVRD DS Update Application to CloseOut {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CVRD DS Update Application to CloseOut</label>
    <loops>
        <name>Loop_Through_Conditions</name>
        <label>Loop Through Conditions</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Conditions_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Condition_is_Completed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Review_Declaration_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Conditions_Record</name>
        <label>Get Conditions Record</label>
        <locationX>158</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_Check_on_Condition_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MUSW__Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Application_phase_to_close_out</name>
        <label>Update Application phase to Issue</label>
        <locationX>158</locationX>
        <locationY>1250</locationY>
        <connector>
            <targetReference>Copy_1_of_Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Issue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_phase_to_close_out</name>
        <label>Update Application phase to close out</label>
        <locationX>442</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Close Out</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Success_Screen</name>
        <label>Copy 1 of Success Screen</label>
        <locationX>158</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_SuccessDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(77, 147, 57); font-size: 16px;&quot;&gt;Application Successfully Moved to Issue Phase!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen11</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(189, 11, 11); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Please complete the conditions to move forward with Issue Phase.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Issue_Declaration_Screen</name>
        <label>Issue Declaration Screen</label>
        <locationX>442</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Application_phase_to_close_out</targetReference>
        </connector>
        <fields>
            <name>IssueCheckBox</name>
            <dataType>Boolean</dataType>
            <fieldText>By confirming, you will complete the issue phase. Please note that once confirmed, the issue phase cannot be revisited.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(208, 19, 19);&quot;&gt;Please agree to the terms by checking the box above.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!IssueCheckBox}=TRUE,TRUE,FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Declaration_Screen</name>
        <label>Review Declaration Screen</label>
        <locationX>158</locationX>
        <locationY>1142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Update_Application_phase_to_close_out</targetReference>
        </connector>
        <fields>
            <name>ReviewScheckBox</name>
            <dataType>Boolean</dataType>
            <fieldText>By confirming, you will complete the review phase. Please note that once confirmed, the review phase cannot be revisited.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(208, 19, 19);&quot;&gt;Please agree to the terms by checking the box above.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!ReviewScheckBox}=TRUE,TRUE,FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>442</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(77, 147, 57);&quot;&gt;Application Successfully Moved to Close Out!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>306</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Issue_Review_Completed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
</Flow>
