force-app/main/default/flows/CVRD_DS_Task_Due_Date_Email_Notification_for_Referrals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Due_date_email_before_5_days</name>
        <label>Due date email before 5 days</label>
        <locationX>1106</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Follow-Up: Referral Reminder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TaskEmailNotificationTemp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_on_creation_of_task</name>
        <label>Send Email on creation of task</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ExternalEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TaskCreationNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_on_creation_of_task_internal</name>
        <label>Send Email on creation of task internal</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Referral has been created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>InternalTemlate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Due_Date_Greater_Than_Today</name>
        <label>Due Date Greater Than Today</label>
        <locationX>1436</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_current_Review_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Check_on_Review_Record</name>
        <label>Empty Check on Review Record</label>
        <locationX>1238</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Review_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_Review_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Due_date_email_before_5_days</targetReference>
            </connector>
            <label>Review Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_owner_of_the_task</name>
        <label>Evaluate owner of the task</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>external_referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_on_creation_of_task</targetReference>
            </connector>
            <label>external referral</label>
        </rules>
        <rules>
            <name>Internal_referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.ContactId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_Email_on_creation_of_task_internal</targetReference>
            </connector>
            <label>Internal referral</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Review_Record</name>
        <label>Evaluate Review Record</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Review_record_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_Review_Record_runtime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_owner_of_the_task</targetReference>
            </connector>
            <label>Review record exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExternalEmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;External Referral Input for &apos; &amp; {!Get_current_Review_Record_runtime.MUSW__Application2__r.Name}</expression>
    </formulas>
    <formulas>
        <name>internalLink</name>
        <dataType>String</dataType>
        <expression>{!$Label.CVRD_DS_Internal_Referral_Link}&amp;&quot;/&quot;&amp;{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>partnerPortalLink</name>
        <dataType>String</dataType>
        <expression>{!$Label.CVRD_DS_Portal_URL}&amp;&quot;/&quot;&amp;{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>RelatedTaskLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_100}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_100})) &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>CVRD DS Task - Due Date Email Notification for Referral {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CVRD DS Task - Due Date Email Notification for Referral</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_current_Review_Record</name>
        <label>Get current Review Record</label>
        <locationX>1238</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_Check_on_Review_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_current_Review_Record_runtime</name>
        <label>Get current Review Record</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Review_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_current_Review_Record_runtime</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Email_Notification_5_days_before</name>
            <connector>
                <targetReference>Due_Date_Greater_Than_Today</targetReference>
            </connector>
            <label>Email Notification 5 days before</label>
            <maxBatchSize>100</maxBatchSize>
            <offsetNumber>-5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ActivityDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>InternalTemlate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName},&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;We are reaching out to invite your input regarding the {!Get_current_Review_Record_runtime.MUSW__Application2__r.Name} which is currently under review by the Cowichan Valley Regional District (CVRD). Your expertise and insights as an external referral are invaluable to our process.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;To provide your comments and suggestions, please log in to our online portal using the following link: {!internalLink} . Your input will be carefully considered by our team as we continue to evaluate the permit application.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Thank you for your cooperation and support in ensuring that the permitting process is thorough and comprehensive. Should you have any questions or require further assistance, please do not hesitate to contact us.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;{!Get_current_Review_Record_runtime.CVRD_DS_Planner__r.FirstName} {!Get_current_Review_Record.CVRD_DS_Planner__r.LastName}&lt;/p&gt;&lt;p&gt;{!Get_current_Review_Record_runtime.CVRD_DS_Planner__r.Title}&lt;/p&gt;&lt;p&gt;Land Use Services Department&lt;/p&gt;&lt;p&gt;Cowichan Valley Regional District&lt;/p&gt;&lt;p&gt;175 Ingram Street DUNCAN BC V9L 1N7&lt;/p&gt;&lt;p&gt;Email:&amp;nbsp;{!Get_current_Review_Record_runtime.CVRD_DS_Planner__r.Email}&lt;/p&gt;&lt;p&gt;Telephone:&amp;nbsp;{!Get_current_Review_Record_runtime.CVRD_DS_Planner__r.Phone} Toll Free: 1.800.665.3955&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;I acknowledge that for thousands of years the Quw&apos;utsun, Malahat, Ts&apos;uubaa-asatx, Halalt, Penelakut, Stz&apos;uminus, Lyackson, Pauquachin, Ditidaht &amp;amp; Pacheedaht Peoples have walked gently on the unceded territories where I now work and live.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TaskCreationNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName},&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;We are reaching out to invite your input regarding the {!Get_current_Review_Record_runtime.MUSW__Application2__r.Name} which is currently under review by the Cowichan Valley Regional District (CVRD). Your expertise and insights as an external referral are invaluable to our process.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;To provide your comments and suggestions, please log in to our online portal using the following link: {!partnerPortalLink}. Your input will be carefully considered by our team as we continue to evaluate the permit application.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Thank you for your cooperation and support in ensuring that the permitting process is thorough and comprehensive. Should you have any questions or require further assistance, please do not hesitate to contact us.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;{!Get_current_Review_Record_runtime.CVRD_DS_Planner__r.FirstName} {!Get_current_Review_Record.CVRD_DS_Planner__r.LastName}&lt;/p&gt;&lt;p&gt;{!Get_current_Review_Record_runtime.CVRD_DS_Planner__r.Title}&lt;/p&gt;&lt;p&gt;Land Use Services Department&lt;/p&gt;&lt;p&gt;Cowichan Valley Regional District&lt;/p&gt;&lt;p&gt;175 Ingram Street DUNCAN BC V9L 1N7&lt;/p&gt;&lt;p&gt;Email:&amp;nbsp;{!Get_current_Review_Record_runtime.CVRD_DS_Planner__r.Email}&lt;/p&gt;&lt;p&gt;Telephone:&amp;nbsp;{!Get_current_Review_Record_runtime.CVRD_DS_Planner__r.Phone} Toll Free: 1.800.665.3955&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;I acknowledge that for thousands of years the Quw&apos;utsun, Malahat, Ts&apos;uubaa-asatx, Halalt, Penelakut, Stz&apos;uminus, Lyackson, Pauquachin, Ditidaht &amp;amp; Pacheedaht Peoples have walked gently on the unceded territories where I now work and live.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TaskEmailNotificationTemp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Dear Reviewer,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;This is a reminder that you have five days left to complete your review for Development Services {!Get_current_Review_Record.MUSW__Application2__r.MUSW__Type2__c} application #{!Get_current_Review_Record.MUSW__Application2__r.Name}, per an email message sent to you on {!$Flow.CurrentDate}.  If you have any questions or concerns, please contact me at {!Get_current_Review_Record.CVRD_DS_Planner__r.Email} or {!Get_current_Review_Record.CVRD_DS_Planner__r.Phone} (Please do not respond to this email).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Also reminding you that if you do not reply by the due date, I will be assuming that you have no review comments.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;{!Get_current_Review_Record.CVRD_DS_Planner__r.FirstName} {!Get_current_Review_Record.CVRD_DS_Planner__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;{!Get_current_Review_Record.CVRD_DS_Planner__r.Title}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Land Use Services Department&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Cowichan Valley Regional District&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;175 Ingram Street DUNCAN BC V9L 1N7&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Email:  {!Get_current_Review_Record.CVRD_DS_Planner__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Telephone:  {!Get_current_Review_Record.CVRD_DS_Planner__r.Phone} Toll Free: 1.800.665.3955&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;I acknowledge that for thousands of years the Quw&apos;utsun, Malahat, Ts&apos;uubaa-asatx, Halalt, Penelakut, Stz&apos;uminus, Lyackson, Pauquachin, Ditidaht &amp;amp; Pacheedaht Peoples have walked gently on the unceded territories where I now work and live.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
