force-app/main/default/flows/Milestone_Update_Application_Phase_and_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Application_Record_Type</name>
        <label>Get Application Record Type</label>
        <locationX>1139</locationX>
        <locationY>431</locationY>
        <actionName>MUSW__GetRecordTypeAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Milestone_Records</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>MUSW__Application2__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputRecord</name>
            <value>
                <elementReference>Get_Application_Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MUSW__GetRecordTypeAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Bailout_to_True</name>
        <label>Set Bailout to True</label>
        <locationX>754</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Bailout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Evaluate_Is_Bailout_True</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluate_Is_Bailout_True</name>
        <label>Evaluate Is Bailout True</label>
        <locationX>666</locationX>
        <locationY>1421</locationY>
        <defaultConnector>
            <targetReference>Update_Application_Status_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bailout</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Is_Queried_Milestone_ID_Null</name>
        <label>Evaluate Is Queried Milestone ID Null</label>
        <locationX>886</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>All_Necessary_Milestones_Completed_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>All_Necessary_Milestones_Completed_Approved.MUSW__Completed_Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Corrections Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>All_Necessary_Milestones_Completed_Approved.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>All_Necessary_Milestones_Completed_Approved.MUSW__Completed_Action__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Bailout_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Milestone_Status</name>
        <label>Evaluate Milestone Status</label>
        <locationX>688</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Milestone_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_Status_In_Progress</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>Completed_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Completed_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Necessary_Milestones_Completed_Approved</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Completed Approved</label>
        </rules>
        <rules>
            <name>Milestone_Completed_Corrections_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Completed_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corrections Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_Status_Pending_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Completed Corrections Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Milestone_Templates_Exist</name>
        <label>Evaluate Milestone Templates Exist</label>
        <locationX>1139</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Milestone_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Milestone_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This Milestone triggered flow is designed to evaluate the current Status and Completed Action values for all Milestones parented by the same Application to determine if the Application&apos; Phase and Status should be updated.</description>
    <environments>Default</environments>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Milestone - Update Application Phase and Status {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Milestone - Update Application Phase and Status</label>
    <loops>
        <name>All_Necessary_Milestones_Completed_Approved</name>
        <label>All Necessary Milestones = Completed Approved</label>
        <locationX>666</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Milestone_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Evaluate_Is_Queried_Milestone_ID_Null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Evaluate_Is_Bailout_True</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Application_Record</name>
        <label>Get Application Record</label>
        <locationX>1139</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Application_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Application2__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Application2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestone_Records</name>
        <label>Get Milestone Records</label>
        <locationX>1139</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Milestone_Templates_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Application2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MUSW__Milestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_Status_Completed</name>
        <label>Update Application Status Completed</label>
        <locationX>798</locationX>
        <locationY>1529</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_Status_In_Progress</name>
        <label>Update Application Status In Progress</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_Status_Pending_0</name>
        <label>Update Application Status Pending</label>
        <locationX>1062</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
    </recordUpdates>
    <start>
        <locationX>1013</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application_Record</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Completed_Action__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MUSW__Milestone__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Bailout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RequiredMilestoneFound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Milestone__c</objectType>
    </variables>
</Flow>
