force-app/main/default/flows/Parcel_UpdateDPA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetDPAValues</name>
        <label>GetDPAValues</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>MUSW__GISSpatialQueryFieldValuesAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopForDPA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>field</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>layerIds</name>
            <value>
                <elementReference>DPALayers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>spatialQueryResult</name>
            <value>
                <elementReference>spatialQueryResult</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MUSW__GISSpatialQueryFieldValuesAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AssignDebugLog</name>
        <label>AssignDebugLog</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ErrorLog.MUSW__MessageLong__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>spatialQueryResult.errorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorLog.MUSW__Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>After Spatial Query</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateErrorLog</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDPAFromApex</name>
        <label>AssignDPAFromApex</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>DPA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopForDPA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DPA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopForDPA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLayers</name>
        <label>AssignLayers</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>DPALayers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>29</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DPALayers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>30</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DPALayers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>31</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DPALayers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>32</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DPALayers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>33</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DPALayers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>34</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DPALayers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>35</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DPALayers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>36</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DPALayers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>37</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DPALayers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>38</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DPALayers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>39</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DPALayers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>40</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DPALayers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>41</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetDPAValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_AssignDebugLog</name>
        <label>Copy 1 of AssignDebugLog</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ErrorLog.MUSW__MessageLong__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DPA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_CreateErrorLog</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckResult</name>
        <label>CheckResult</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>spatialQueryResult.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLayers</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>Fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>spatialQueryResult.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDebugLog</targetReference>
            </connector>
            <label>Fail</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Parcel-UpdateDPA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Parcel-UpdateDPA</label>
    <loops>
        <name>LoopForDPA</name>
        <label>LoopForDPA</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>GetDPAValues.values</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignDPAFromApex</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_AssignDebugLog</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_CreateErrorLog</name>
        <label>Copy 1 of CreateErrorLog</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Update_Parcel</targetReference>
        </connector>
        <inputReference>ErrorLog</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateErrorLog</name>
        <label>CreateErrorLog</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <inputReference>ErrorLog</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Parcel</name>
        <label>Update Parcel</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>spatialQueryResult.relatedRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CVRD_DS_DPA__c</field>
            <value>
                <elementReference>DPA</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Parcel__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckResult</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DPA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DPALayers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__EventLog__c</objectType>
    </variables>
    <variables>
        <name>spatialQueryResult</name>
        <apexClass>MUSW__GISSpatialQueryResult</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
