force-app/main/default/flows/Run_GIS_Spatial_Query.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GIS_Spatial_Query</name>
        <label>GIS Spatial Query</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>MUSW__GISSpatialQueryAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>featureId</name>
            <value>
                <elementReference>Get_Parcel.MUSW__Parcel_Number2__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>featureIdField</name>
            <value>
                <stringValue>ParcelID</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>featureLayerURL</name>
            <value>
                <stringValue>https://maps.cvrd.ca/mapservices/rest/services/CVRD/MapServer/9</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>featureServerURL</name>
            <value>
                <stringValue>https://maps.cvrd.ca/mapservices/rest/services/LandManagementSystem/DPAs_LMS/FeatureServer</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>layerDefinitions</name>
            <value>
                <stringValue>29;30;31;32;33;34;35;36;37;38;39;40;41</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextFlowName</name>
            <value>
                <stringValue>Parcel_UpdateDPA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.MUSW__Parcel__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>spatialRelationship</name>
            <value>
                <stringValue>esriSpatialRelIntersects</stringValue>
            </value>
        </inputParameters>
        <nameSegment>MUSW__GISSpatialQueryAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Get_Parcel_Id</name>
        <label>Get Parcel Id</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>parceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MUSW__Parcel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Parcel</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Run GIS Spatial Query {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run GIS Spatial Query - DPA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Parcel</name>
        <label>Get Parcel</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GIS_Spatial_Query</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Parcel__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Parcel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parcel_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>parceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
