force-app/main/default/flows/User_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Login</name>
        <label>Navigate to Login</label>
        <locationX>182</locationX>
        <locationY>2114</locationY>
        <actionName>clariti:flowNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetPageURL</name>
            <value>
                <stringValue>/</stringValue>
            </value>
        </inputParameters>
        <nameSegment>clariti:flowNavigation</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Self_Register_Action</name>
        <label>Self Register Action</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <actionName>clariti__SelfRegisterAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Attestation_Consent</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountRecordType</name>
            <value>
                <elementReference>Record_Type_Developer_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>user</name>
            <value>
                <elementReference>User</elementReference>
            </value>
        </inputParameters>
        <nameSegment>clariti__SelfRegisterAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>User.Id</assignToReference>
            <name>userId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Business_Account_Information</name>
        <label>Assign Business Account Information</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.MUSW__Person_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Account_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Account_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Portal User</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Terms_and_Conditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Business_Account_Record_Type</name>
        <label>Assign Business Account Record Type</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Record_Type_Developer_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Account_Registration_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Values_to_User</name>
        <label>Assign Contact Values to User</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>User.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Terms_and_Conditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Person_Account_Information</name>
        <label>Assign Person Account Information</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>User.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_Account_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_Account_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_Province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User.CompanyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Terms_and_Conditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Person_Account_Record_Type</name>
        <label>Assign Person Account Record Type</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Record_Type_Developer_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PersonAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Person_Account_Registration_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Registration_Type_Quick_Choice</name>
        <label>Assign Values to Registration Type Quick Choice</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Quick_Choice_Card_Labels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Citizen_Account_Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quick_Choice_Card_Descriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Register as an individual to submit and monitor permit, license, and land use applications.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quick_Choice_Card_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Registration_Type</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Business_Account</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Business_Account</stringValue>
        </value>
    </constants>
    <constants>
        <name>Business_Account_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Account</stringValue>
        </value>
    </constants>
    <constants>
        <name>Citizen_Account_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Citizen Account</stringValue>
        </value>
    </constants>
    <constants>
        <name>PersonAccount</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PersonAccount</stringValue>
        </value>
    </constants>
    <constants>
        <name>Registration_Terms_Conditions_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Registration Terms &amp; Conditions</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_company_name_exist</name>
        <label>Check company name exist</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Update_PersonAcc_with_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Company_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PersonAcc_with_companyName_and_Type</targetReference>
            </connector>
            <label>Outcome 1 of Decision 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_if_Contact_ID_Exists</name>
        <label>Evaluate if Contact ID Exists</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_to_Registration_Type_Quick_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New User</defaultConnectorLabel>
        <rules>
            <name>Contact_ID_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact ID Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_if_Contact_is_Returned</name>
        <label>Evaluate if Contact is Returned</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Invite_Expired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Values_to_User</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_if_Terms_Conditions_Found</name>
        <label>Evaluate if Terms &amp; Conditions Found and user exist</label>
        <locationX>644</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Terms &amp; Conditions Found and user Found</defaultConnectorLabel>
        <rules>
            <name>Terms_Conditions_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Attestation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Attestation.MUSW__Message__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Terms_Conditions</targetReference>
            </connector>
            <label>Terms &amp; Conditions Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Registration_Type</name>
        <label>Evaluate Registration Type</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Citizen_Account_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Registration_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Citizen_Account_Label</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Person_Account_Record_Type</targetReference>
            </connector>
            <label>Citizen Account Selected</label>
        </rules>
        <rules>
            <name>Business_Account_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Registration_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Business_Account_Label</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Business_Account_Record_Type</targetReference>
            </connector>
            <label>Business Account Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ProvinceChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CVRD_DS_Owner_State__c</picklistField>
        <picklistObject>MUSW__Application_Contact__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>User Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>User Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Attestation_Consent</name>
        <label>Create Attestation Consent</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Check_company_name_exist</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Success</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>MUSW__Attestation_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Attestation__c</field>
            <value>
                <elementReference>Attestation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Attestor__c</field>
            <value>
                <elementReference>User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Consent__c</field>
            <value>
                <elementReference>Attestation_Consent_Checkbox</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Attestation_Consent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_if_Contact_is_Returned</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Terms_and_Conditions</name>
        <label>Get Terms and Conditions</label>
        <locationX>644</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Registration_Terms_Conditions_Name</elementReference>
            </value>
        </filters>
        <object>MUSW__Attestation__c</object>
        <outputReference>Attestation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Message__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>644</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_if_Terms_Conditions_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PersonAcc_with_companyName_and_Type</name>
        <label>Update PersonAcc with companyName and Type</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__DBA_Name__pc</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PersonAcc_with_Type</name>
        <label>Update PersonAcc with Type</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Business_Account_Registration_Information</name>
        <label>Business Account Registration Information</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Business_Account_Information</targetReference>
        </connector>
        <fields>
            <name>User_Information_Display_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;User Information&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; background-color: transparent; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;﻿Fill out the required information below to continue your registration.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_Account_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Business_Account_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>User_Information_Email_0</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>User.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>User.Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Account_Information_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;Account Information&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Fill out the required information below to continue your registration.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Account.Name</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1106</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;There was an issue with your registration. You may click &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Previous&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; to go back and try again. If the issue persists, please contact us and include any error messages.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UserExist_ErrorDispaly</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(211, 20, 20); background-color: rgb(255, 255, 255);&quot;&gt;User Already Exist with the provided Email.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_User_Record.Email</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>No_Attestation_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;The Terms and Conditions file could not be found.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Terms_and_Conditions</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invite_Expired</name>
        <label>Invite Expired</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Invite_Expired_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;There was an issue with your registration. Close this window and try again by clicking on the invite link provided to you. If the Issue persists, contact the person who invited you to this account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Person_Account_Registration_Information</name>
        <label>Person Account Registration Information</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Person_Account_Information</targetReference>
        </connector>
        <fields>
            <name>User_Information_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;User Information&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; background-color: transparent; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;﻿Fill out the required information below to continue your registration.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Person_Account_Registration_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Person_Account_Registration_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Person_Account_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Person_Account_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Person_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Person_Phone.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>User_Information_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>User.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>User.Email</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Company_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Company Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>recaptchLwc</name>
                    <extensionName>c:cVRD_DS_RepatchaLwc</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Person_Account_Registration_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Person_Street</name>
                    <dataType>String</dataType>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Person_City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Person_Province</name>
                    <choiceReferences>ProvinceChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Province</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Person_Postal_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Registration_Type</name>
        <label>Registration Type</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Evaluate_Registration_Type</targetReference>
        </connector>
        <fields>
            <name>Registration_Type_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 26px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Register for an Account&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Registration_Type_Quick_Choice</name>
            <extensionName>clariti:quickChoice</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Quick_Choice_Card_Icons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>Quick_Choice_Card_Labels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>Quick_Choice_Card_Descriptions</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Registration_Type</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_to_Login</targetReference>
        </connector>
        <fields>
            <name>Success_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;Welcome!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your registration was successful. To finish the registration process, check your email for instructions on setting your password. Remember to look in your spam folder where automated messages sometimes filter. If you still can&apos;t log in, contact your administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Terms_Conditions</name>
        <label>Terms &amp; Conditions</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Self_Register_Action</targetReference>
        </connector>
        <fields>
            <name>Terms_Conditions_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;Terms and Conditions&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;To continue with the registration process, you must agree to our terms and conditions. To agree, check the box below.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Attestation.MUSW__Message__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Attestation_Consent_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>{!Terms_Conditions_Checkbox_Label}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(208, 19, 19);&quot;&gt;Please agree to the terms by checking the box above.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!Attestation_Consent_Checkbox}=TRUE,TRUE,FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>clariti__User_Registration</sourceTemplate>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_if_Contact_ID_Exists</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Attestation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Attestation__c</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quick_Choice_Card_Descriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quick_Choice_Card_Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quick_Choice_Card_Labels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Registration_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Terms_Conditions_Checkbox_Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>I, {!User.FirstName} {!User.LastName}, have read, understood, and accepted the above terms and conditions.</stringValue>
        </value>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
